.cards {
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  row-gap: 40px;

  h6 {
    text-wrap: wrap;
  }
  
  :global(.slick-slider) {
    margin: 0 -10px;
  }
}

.slide {
  padding: 26px 16px;
  img {
    margin: auto;
  }
  ul {
    margin: 0;
    padding-left: 25px;
  }
  li {
    text-align: start;
    margin-top: 5px;
    font-size: 17px;
  }
}

@media (max-width: 1000px) {
  .slide {
    display: flex !important;
    justify-content: center;
    align-self: stretch;
    height: 520px;
  }
}

@media (max-width: 600px) {
  .slide {
    padding: 26px 10px;
    width: 320px !important;
    height: 550px;
  }
}
