.shopItemMini {
  min-width: 271px;
  height: 266px;
  padding: 22px 16px;
  cursor: pointer;
  justify-content: space-between;
  gap: 0;

  .label {
    padding: 5px;
  }

  img {
    margin: 0 auto;
  }

  .btnWrapper {
    &:hover {
      transform: none !important;
      scale: none !important;
    }
  }

  button {
    transition: all 0.1s ease-in-out;
    p {
      white-space: pre-wrap;
    }
  }

  &:hover {
    button {
      scale: 110% !important;
    }
  }
}

@media (max-width: "767px") {
  .carousel {
    width: 100vw !important;
    :global(.slick-slide) {
      display: flex;
      flex-direction: column;
      align-items: center;

      > div {
        width: fit-content;

        margin: 0 !important;

        > div {
          margin: 15px 10px !important;
          width: fit-content;
        }
      }
    }
  }
}
