.main {
  padding: 70px 10px 0px;
}

.header {
  margin-top: 70px;
  text-transform: uppercase;
}

.container {
  @include flex-column;
  margin-top: 70px;
  margin-bottom: 115px;

  .card {
    padding: 20px;
  }

  ul {
    margin: 0;
    padding: 0;
    margin-left: 25px;
    li {
      margin: 10px 0;
    }
    p {
      text-align: start;
    }
  }

  .line {
    height: 80px;
    width: 2px;
    box-shadow: $box-shadow;
    background: $color-black;
  }

  .gold {
    color: rgb(173 140 22);
  }
  .explanation {
    max-width: 415px;
  }
}

.formulaCard {
  padding-top: 38px;
}

@media (max-width: 450px) {
  .container {
    .card {
      padding: 20px 10px;

      h5,
      h6 {
        font-size: 24px !important;
        display: contents;
      }
    }
  }

  .formulaCard {
    padding: 26px 10px;
    padding-top: 33px;
    .explanation {
      br {
        display: none;
      }
    }
  }
}
