.main {
  padding: 100px 10px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 1400px;
}

.confetti {
  position: absolute;
  z-index: -1;
  height: 80%;
  width: auto;
}

.confettiLeft {
  left: 0;
  animation: confettiAppearLeft 5s ease, breathing 5s ease infinite;
}

.confettiRight {
  right: 0;
  animation: confettiAppearRight 5s ease, breathing 5s ease infinite;
}

.header {
  margin-top: 30px;
  text-align: center;
}

.card {
  margin-top: 90px;
}

.confettiImage {
  margin-top: 65px;
}

.divider {
  padding: 11px 15px 9px;

  p {
    font-size: 22px !important;
  }
}

.start {
  @include flex-column;
  width: 100%;

  .startHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 65px;
    padding: 0;
    text-align: center;
    h2 {
      font-size: 30px;
    }
  }
}

.formats {
  margin-top: 90px !important;
}

@media (max-width: 800px) {
  .formats {
    margin-bottom: $padding-page-tablet-bottom;
  }
}

@media (max-width: 800px) {
  .confetti {
    display: none;
  }
}

@media (max-width: 550px) {
  .formats {
    margin-bottom: $padding-page-mobile-bottom !important;
  }
  .card {
    padding: 26px 10px;
  }
}

@keyframes confettiAppearLeft {
  0% {
    transform: translate(300px, 0) scale(0) rotate(-15deg);
  }
  100% {
    transform: translate(0) scale(1) rotate(0);
  }
}

@keyframes confettiAppearRight {
  0% {
    transform: translate(-300px, 0) scale(0) rotate(15deg);
  }
  100% {
    transform: translate(0) scale(1) rotate(0);
  }
}

@keyframes breathing {
  0% {
  }
  50% {
    transform: scale(110%);
  }
  100% {
    transform: scale(100%);
  }
}
