.main {
  padding: 0 10px;
}

.header {
  margin-top: 75px;
  text-align: center;
}

.card {
  margin-top: 90px;
}

.confetti {
  margin-top: 65px;
}

.start {
  @include flex-column;
  width: 100%;

  .startHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 65px;
    padding: 0;
    text-align: center;
    h2 {
      font-size: 38px;
    }
  }
}

@media (max-width: 550px) {
  .card {
    padding: 26px 10px;
  }
}
