.main {
  flex-grow: 1;
  padding: 0 10px;
}

.content {
  width: 80vw;
  max-width: 1150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  margin-top: 90px;
  white-space: pre-line;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.card {
  margin: 100px 0;
  row-gap: 50px;
  margin: 50px 0;
  h6 {
    line-height: 24px;
  }
  p {
    font-size: 18px;
  }
}

.thanksBlock {
  margin-bottom: 125px;
  h6 {
    font-size: 24px;
  }
}

@media (max-width: 550px) {
  .info {
    margin-top: 42px;
    white-space: normal;
    text-align: center;
  }

  .card {
    padding: 26px 10px;
    h6 {
      font-size: 19px !important;
      white-space: normal !important;
      text-align: center;
    }
    p {
      font-size: 16px !important;
    }
  }
}
