.input {
  box-sizing: border-box;
  max-width: 330px;
  width: 100%;
  height: 60px;
  height: auto;

  input {
    padding: 18.5px 14px;
  }

  fieldset {
    border-radius: $border-radius;
    border: 2px solid $color-black;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35);
  }

  :global(.Mui-focused) fieldset {
    border: 2px solid $color-black !important;
  }

  :global(.Mui-focused) input,
  :global(.MuiFormLabel-filled) input,
  &:hover input {
    background: linear-gradient(
      180deg,
      rgba(254, 254, 254, 1) 10%,
      rgba(255, 245, 27, 1) 65%
    );
  }

  :global(.MuiInputBase-multiline) {
    border-radius: $border-radius;
    &:hover {
      background: linear-gradient(
        180deg,
        rgba(254, 254, 254, 1) 10%,
        rgba(255, 245, 27, 1) 65%
      );
    }
  }

  :global(.Mui-focused),
  :global(.MuiFormLabel-filled),
  &:hover :global(.MuiFormLabel-root) {
    color: $color-black;
  }
}

.small {
  width: 300px;
}

@media (max-width: 767px) {
  .input {
    label {
      font-size: 16px;
    }
  }
}
