.start {
  @include flex-column;
  width: 100%;
  max-width: 100%;
  .startHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 110px;
    padding: 0;
    text-align: center;

    h5 {
      font-size: 30px;
    }
    h2 {
      font-size: 37px;
    }
  }

  .startCards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    max-width: 100%;

    .triangleBtn {
      width: 36px;
      height: 37px;
      margin: 0 40px;
    }

    .card {
      width: 330px;
      height: 360px;
      img {
        margin: auto;
      }
      h6 {
        font-size: 22px;
        line-height: 24px;
      }
    }
  }
}

.senseiHeader {
  display: flex;
  margin-top: 115px;
  text-transform: uppercase;
  text-align: center;

  h1 {
    font-size: 86px;
    margin-right: 15px;
  }
  h2 {
    margin-top: 7px;
    font-size: 45px;
  }
  p {
    font-size: 18px;
    font-weight: 700;
  }
}

.courses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin: 100px 0;
}
.course {
  position: relative;
  &:hover {
    .label {
      transform: scale(1.1);
      box-shadow: 0px 0px 6px 0px #000 inset,
        0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
  }

  .label {
    transform: none;
    top: -15%;
    left: auto;
    transition: all 0.2s ease-in-out;
  }

  .link {
    text-transform: uppercase;
    width: 100%;
    p {
      font-size: 19px;
    }
    p,
    span {
      font-weight: 700;
    }
  }

  .icon {
    margin-top: 20px;
  }

  .arrow {
    position: absolute;
    right: -30%;
    top: -25%;
    transform: rotate(5deg);
  }
}

@media (max-width: 1250px) {
  .card {
    display: flex !important;
    .triangleBtn {
      position: absolute;
      top: 43%;
      right: -33%;
      z-index: 2;
    }
  }
  .startCards {
    width: 100vw;
    max-width: 100vw !important;
  }
}

@media (max-width: 600px) {
  .card > div:first-child {
    left: 26px;
  }
  .startCards {
    flex-direction: column;
    row-gap: 20px;
  }
  .triangleBtn {
    rotate: 90deg;
  }
}

@media (max-width: 450px) {
  .start {
    .startCards {
      .card {
        padding: 26px 10px;
        max-width: 330px !important;
        width: 100%;
      }
    }

    .startHeader {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2,
      h5 {
        display: inline;
        line-height: 28px;
        font-size: 28px;
      }
    }

    & > h6 {
      font-size: 19px;
      line-height: 24px;
    }
  }

  .senseiHeader {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      line-height: 70px;
    }
    h2 {
      font-size: 40px;
    }
    p {
      font-size: 16px;
    }
  }
}
