.main {
  padding: 0px 10px;
}

.header {
  margin-top: 80px;
  display: flex;
  .subHeader {
    @include flex-column;
    margin-left: 15px;
  }
}

.card {
  padding: 20px;
  line-height: 25px;
  background: linear-gradient(
    91deg,
    rgba(255, 156, 156, 0.75) 0%,
    rgba(255, 239, 156, 0.75) 28.13%,
    rgba(156, 219, 255, 0.75) 71.35%,
    rgba(255, 156, 233, 0.75) 100%
  );
  b {
    font-weight: 900;
  }
}

.advantages {
  margin-top: 75px;
}