.buttonWrapper {
  position: relative;
  width: fit-content;
  transition: 0.12s;
  line-height: 17.84px;
  font-size: 16px;
  font-weight: 500;
  .image {
    position: absolute;
    right: 6px;
    top: 8px;

    z-index: 3;
    transform-origin: bottom right;
    animation: buttonIconRotateToInitial 0.2s forwards;
  }

  &:hover {
    scale: 110%;
    .image {
      visibility: visible;
      animation: buttonIconRotate 0.3s forwards;
    }
  }

  .button {
    color: $color-text;
    border-radius: $border-radius;
    padding: 16px 8px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: inherit;
  }

  .smallPadding {
    padding: 8px;
  }

  :global(.MuiButton-outlined) {
    border: $border !important;
    box-shadow: $box-shadow;

    &:hover {
      background: $color-yellow;
    }
  }
}

@keyframes buttonIconRotate {
  0% {
    scale: 0;
    transform: rotate(-90deg);
  }
  50% {
    scale: 1;
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes buttonIconRotateToInitial {
  0% {
  }
  100% {
    scale: 0;
    transform: rotate(-90deg);
  }
}
