.buttonWrapper {
  position: relative;
  width: fit-content;
  transition: 0.12s;

  .image {
    position: absolute;
    right: 6px;
    top: 8px;

    z-index: 3;
    transform-origin: bottom right;
    animation: buttonIconRotateToInitial 0.2s forwards;
  }

  &:hover {
    scale: 110%;
    .image {
      visibility: visible;
      animation: buttonIconRotate 0.3s forwards;
    }
  }

  .button {
    color: $color-text;
    border-radius: $border-radius;
    padding: 16px 8px;
  }

  .smallPadding {
    padding: 8px;
  }

  :global(.MuiButton-outlined) {
    border: $border !important;
    box-shadow: $box-shadow;

    &:hover {
      background-color: $color-yellow;
    }
  }
}
