.carouselItem {
  transition: 0.3s;
  position: relative;
  width: fit-content;

  // img {
  //   width: 100%;
  //   height: auto;
  // }

  .playButtonIcon {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    fill: $color-yellow;
  }
}

.hovered {
  animation: hoverAnimation 0.3s forwards;
}
.clicked {
  animation: clickAnimation 0.3s forwards;
}

.isOutlined {
  @include border-box;
}

@keyframes hoverAnimation {
  0% {
  }
  50% {
    transform: scale(110%);
  }
  100% {
    transform: scale(108%);
  }
}

@keyframes clickAnimation {
  0% {
    transform: scale(110%);
  }
  50% {
    transform: scale(122%);
  }
  100% {
    transform: scale(120%);
  }
}
