.carouselItem {
  transition: 0.3s;
  position: relative;

  &:hover {
    svg {
      transform: scale(110%);
    }
  }

  img {
    width: 100%;
    height: auto;
    border-radius: $border-radius;
  }
}

.hovered {
  animation: hoverAnimation 0.3s forwards;
}
.clicked {
  animation: clickAnimation 0.3s forwards;
}

.isOutlined {
  background-color: black;
  @include border-box;
}

@keyframes hoverAnimation {
  0% {
  }
  50% {
    transform: scale(110%);
  }
  100% {
    transform: scale(108%);
  }
}

@keyframes clickAnimation {
  0% {
    transform: scale(110%);
  }
  50% {
    transform: scale(122%);
  }
  100% {
    transform: scale(120%);
  }
}
