.cards {
  display: flex;
  position: relative;
  padding: 29px 0;

  .card {
    position: relative;
    transition: ease-out 0.12s;

    &:hover {
      scale: 110%;
    }
    img {
      border-radius: $border-radius;
    }
  }

  .left {
    transform: translate(25px, 0) rotate(-7.14deg);
    z-index: 1;
  }
  .center {
    transform: translate(0, -20px) rotate(4deg);
    z-index: 3;
  }
  .right {
    transform: translate(-20px, 15px) rotate(11deg);
    z-index: 1;
  }
}
