.newLabel {
  padding: 2px 4px;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  z-index: 3;
  top: 25px;
  right: 5px;
  transform: translate(-14%, -50%);
}

.center {
  top: unset;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 50%);
}
