.main {
  padding: 0 10px;
}
.dialog {
  :global(.MuiPaper-root) {
    max-width: 1000px;
    width: 100%;
    height: auto;
    padding: 14px 0px;
  }
  :global(.MuiDialogContent-root) {
    width: 100%;
  }

  .frameWrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
  }

  .videoFrame {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

.benefits {
  width: 100%;
  .header {
    margin-top: 70px;
    font-size: 25px;
    h3 {
      font-size: 35px;
    }
  }
  .cards {
    margin-top: 95px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 30px;
    max-width: 1060px;
    width: 100%;
  }

  .cardWrapper {
    @include flex-column;
    align-self: stretch;
  }

  .card {
    padding: 20px;
    height: 385px;

    h6 {
      font-size: 26px;
      line-height: 29px;
      max-width: 360px;
    }

    p {
      line-height: 21px;
      font-size: 17px;
      text-align: center;
    }
  }

  .video {
    @include flex-column;
    &::before {
      margin: 0 auto;
      content: "";
      width: 2px;
      height: 100px;
      box-shadow: $box-shadow;
      background: black;
    }
  }

  .videoWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    max-height: 222px;
    overflow: hidden;
    &:hover {
      .playBtn {
        fill: $color-yellow;
        transform: scale(1.3);
      }
    }
    img {
      border-radius: $border-radius;
      border: $border;
      overflow: hidden;
    }
  }

  .playBtn {
    transition: all 0.3s ease-in-out;
    position: absolute;
    width: 54px;
    height: auto;
    fill: white;
    inset: 0 0 0 0;
    margin: auto;
  }
}

.register {
  max-width: 100%;
  margin-top: 100px;
  h2 {
    font-size: 39px;
    line-height: 30px;
  }
  h6 {
    margin-top: 20px;
    font-size: 25px;
  }
  .img {
    margin: 25px 0 50px;
  }
}

.buttonWrapper {
  position: relative;
}
.arrow {
  position: absolute;
  left: calc(100% + 20px);
  bottom: calc(100% - 20px);
}
.button {
  padding: 10px 20px !important;
  font-size: 22px;
  font-weight: 600;
}

.check {
  margin: 30px 0 70px;
  display: flex;
  align-items: center;
  .checkText {
    margin-left: 25px;
    max-width: 400px;
    line-height: 17.84px;
    font-weight: 500;
    font-size: 16px;
  }
}

@media (max-width: 960px) {
  .benefits {
    .cards {
      justify-content: center;
      flex-wrap: wrap;
      row-gap: 42px;
    }
  }
}

@media (max-width: 500px) {
  .benefits {
    .cards {
      justify-content: center;
      flex-wrap: wrap;
      row-gap: 42px;
    }
  }
}
