.start {
  @include flex-column;
  width: 100%;

  .startHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 110px;
    padding: 0;
    text-align: center;

    h2 {
      font-size: 38px;
    }
  }

  .startCards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 85px;
    .triangleBtn {
      width: 36px;
      height: 37px;
      margin: 0 40px;
      transform: rotate(90deg);
    }

    .card {
      width: 330px;
      height: 360px;
      h6 {
        font-size: 22px;
        line-height: 24px;
      }
    }
  }
}

.senseiHeader {
  margin-top: 115px;
  text-align: center;
  h3 {
    font-size: 35px;
  }
  h5 {
    font-size: 26.5px;
  }
}

.sensei {
  margin: 100px 0;
  position: relative;
  width: 100%;

  &:hover {
    .label {
      transform: scale(1.1);
    }
  }

  .label {
    transform: none;
    top: -15%;
    left: auto;
    transition: all 0.2s ease-in-out;
    padding: 8px 8px 4px;
  }

  .link {
    text-transform: uppercase;
    width: 100%;
    p,
    span {
      font-weight: 700;
    }
  }

  .icon {
    margin-top: 20px;
  }

  .arrow {
    position: absolute;
    right: -30%;
    top: -25%;
    transform: rotate(5deg);
  }
}

@media (max-width: 1250px) {
  .card {
    display: flex !important;
    .triangleBtn {
      position: absolute;
      top: 43%;
      right: -33%;
      z-index: 2;
    }
  }
}

@media (max-width: 850px) {
  .sensei {
    .arrow {
      position: absolute;
      right: -15%;
      top: -60%;
      transform: rotate(320deg);
    }
  }
}

@media (max-width: 700px) {
  .sensei {
    .arrow {
      scale: 0.7;
      right: -5%;
      top: -50%;
    }
  }
}

@media (max-width: 600px) {
  .card > div:first-child {
    left: 26px;
  }
  .startCards {
    flex-direction: column;
    row-gap: 20px;
  }
  .triangleBtn {
    rotate: 90deg;
  }
  .senseiHeader {
    text-wrap: balance;
    h3 {
      margin-right: 8px;
    }
    h3,
    h5 {
      display: inline;
      font-size: 26px;
    }
  }
  .start {
    .startHeader {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2,
      h5 {
        display: contents;
        line-height: 28px;
        font-size: 24px;
      }
    }
    & > h6 {
      font-size: 19px;
    }
  }
}

@media (max-width: 450px) {
  .start {
    .startCards {
      .card {
        & > div:first-child {
          left: -21px;
        }
        padding: 26px 10px;
        max-width: 286px !important;
        width: 100%;
        height: fit-content;
      }
    }

    & > h6 {
      font-size: 19px;
    }
  }
}
