.developers {
  @include flex-column;
  padding: $padding-page;
  padding-bottom: 125px;
  gap: 90px;

  .imageWrapper {
    position: relative;
    padding: 0;

    img {
      border-radius: 7px;
      object-fit: cover;
      object-position: top;
    }
  }
  .anton {
    img {
      filter: brightness(150%);
    }
  }
  .contentCard {
    padding-top: 70px;
    padding-bottom: 47px;
    gap: 47px;

    .socials {
      @include flex-column;
      gap: 28px;

      .links {
        display: flex;
        gap: 28px;
      }
    }
  }

  .others {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 71px;
    row-gap: 120px;
    max-width: 1400px;
  }
}

@media (max-width: 1023px) {
  .developers {
    .others {
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: 767px) {
  .developers {
    padding-bottom: $padding-page-mobile-bottom;

    .label {
      padding: 4px;
      h5 {
        font-size: 20px;
        white-space: pre-wrap;
        min-width: 95%;
        width: 100%;
      }
    }
  }
}
