$gap-block-horizontal: 62px;
$gap-block-vertical: 112px;

%block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap-block-horizontal;
  text-align: center;
}

.main {
  padding: $padding-page;
  padding-top: 66px;
  display: flex;
  flex-direction: column;
  gap: 130px;
  align-items: center;

  .ideaBlock {
  }

  .bioBlock {
    .imageContent {
      padding: 0 !important;
      height: 812px;
      img {
        border-radius: $border-radius;
      }
    }

    .bioContent {
      flex-direction: row;
      text-align: start;
      padding: 52px;
      gap: 38px;

      p {
        text-indent: 40px;
        text-align: justify;
        font-weight: 400 !important;
      }

      .paragraphs {
        flex: 1;
        min-height: 100%;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .imageContent {
        max-height: 579px;
      }
    }

    .contentGrid {
      display: grid;
      gap: 0;
      column-gap: 36px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-rows: minmax(100px, auto);
      grid-template-areas:
        "p1     p1 imgRight"
        "p2     p2 imgRight"
        "imgLeft p3  imgRight"
        "imgLeft p4  p4";

      .imgRight {
        grid-area: imgRight;
        height: auto;
      }

      .imgLeft {
        grid-area: imgLeft;
        height: 376px;
      }

      .p1 {
        grid-area: p1;
      }
      .p2 {
        grid-area: p2;
      }
      .p3 {
        grid-area: p3;
      }
      .p4 {
        grid-area: p4;
      }
    }
  }
  .button {
    background: linear-gradient(180deg, #ffffff, #fffbd8);
    width: 200px;
  }

  .reviewsBlock {
    @extend %block;
  }

  .infoCardsBlock {
    display: flex;
    gap: $gap-block-vertical;

    .infoCard {
      justify-content: space-between;

      .title {
        line-height: normal;
      }
    }
  }

  .partnersBlock {
    @extend %block;
  }

  .authorContentBlock {
    @extend %block;

    .wrapper {
      display: flex;
      gap: $gap-block-vertical;

      .socialCard {
        gap: 29px;
      }
    }
  }

  .linkCardsBlock {
    display: flex;
    justify-content: center;
    gap: $gap-block-horizontal;
    width: 100%;
  }

  .reelsBlock {
    .playButtonIcon {
      position: absolute;
      cursor: pointer;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.carouselCard {
  padding: 51px 0;
  gap: 51px;
}
