.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.header {
  margin-top: 70px;
  text-transform: uppercase;
  text-align: center;
}

.headerFormat {
  margin-top: 60px;
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.formats {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 40px;
  margin-top: 60px;

  .formatWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .formatCard {
    height: 250px;
    width: 450px;

    p {
      white-space: pre;
    }

    &,
    p,
    img {
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      transform: scale(1.05);

      img {
        transform: scale(1.2);
      }

      p {
        letter-spacing: 0.1rem;
      }
    }
  }

  .bottomCard {
    p {
      font-weight: 700;
    }
  }

  .line {
    height: 65px;
    width: 3px;
    background: $color-black;
  }
}

.results {
  margin: 100px 0;
  width: 610px;
  height: 360px;

  h4,
  h6 {
    margin: 0;
    padding: 0;
  }

  img {
    margin: 5px 0;
  }
}

@media (max-width: 650px) {
  .results {
    height: auto;
  }
}

@media (max-width: 450px) {
  .formats {
    .formatCard {
      height: 250px;
      max-width: 100% !important;
      width: 100%;
    }
    .formatWrapper {
      width: 100%;
      a {
        width: 100%;
      }
    }
  }
  .results {
    padding: 26px 14px;
    h4 {
      line-height: 26px;
    }
    h6 {
      line-height: 20px;
      font-size: 20px;
    }
  }
}

@media (max-width: 600px) {
  .results {
    padding: 26px 3px;
    h6 {margin-right: 8px;}
    h6, h4 {
      font-size: 24px;
      display: inline;
    }
  }
}