.cardsBlock {
  @include flex-row;
  justify-content: space-around;
  width: 100%;

  .carouselItem:first-child {
    p {
      max-width: 300px;
    }
  }

  .carouselItem:nth-child(2),
  .carouselItem:nth-child(3) {
    .card {
      padding: 26px 22px;
    }
  }

  .carouselItem:nth-child(2) {
    .card {
      min-height: 423px;
      gap: 26px;
    }
  }
}

.card {
  transition: 0.2s ease-in-out;
}

@media (max-width: 1000px) and (min-width: 500px) {
  .cardsBlock {
    width: 100vw;
  }
}

@media (max-width: 500px) {
  .card {
    width: 300px;
    padding: 26px 10px;
    a {
      @include flex-column;
    }
  }
  .carouselItem,
  .card {
    animation: none !important;
  }
}
