.reviewsBlock {
  @extend %block;
  width: 100%;

  .carousel {
    :global(.slick-slider) {
      height: 500px;
      overflow: visible !important;
    }
    :global(.slick-dots) {
      margin-top: 35px;

      li {
        margin: 0 10px;
      }
    }
  }

  .carouselCard {
    padding: 35px 0 40px;
    gap: 43px;

    :global(.slick-next) {
      right: 50px;
    }

    :global(.slick-prev) {
      left: 50px;
    }

    :global(.slick-slide) {
      > div {
        margin: 2vw calc(3vw + 3px);
      }
    }
  }

  .carouselItem {
    img {
      border-radius: 7px;
    }
  }
}

@media (min-width: 1200px) {
  .reviewsBlock {
    .caption {
      margin-top: 45px;
    }
  }
}

@media (max-width: 1023px) {
  .reviewsBlock {
    width: unset;
    gap: 50px;

    .carousel {
      :global(.slick-dots) {
        margin-top: 0px;
      }
    }

    .header {
      font-size: 30px;
    }

    .carouselCard {
      border-radius: 0;
      border-left: 0;
      border-right: 0;

      :global(.slick-slide) {
        > div {
          margin: 50px;
        }
      }

      .caption {
        margin-top: 45px;
        font-size: 22px;
        line-height: normal;
      }
    }
  }
}

@media (max-width: 767px) {
  .reviewsBlock {
    width: 100%;
    gap: 35px;

    .header {
      font-size: 25px;
    }

    .carouselCard {
      border: unset;
      box-shadow: unset;
      padding: 0;

      :global(.slick-slide) {
        > div {
          margin: 20px;
        }
      }

      :global(.slick-list) {
        margin-bottom: 16px;
      }

      .caption {
        margin-top: 0;
      }
    }
  }
}

@media (max-width: 500px) {
  .caption {
    padding: 0 10px;
  }
}
