.dialog {
  :global(.MuiPaper-root) {
    padding: 0 !important;
  }
  .content {
    max-width: fit-content;
    padding: 0;
    border-radius: 7px;
  }

  .video {
    max-width: 80vw !important;
  }

  .closeIcon {
    top: initial !important;
    bottom: calc(100% + 5px);
    path {
      fill: #c1c1c1 !important;
    }
  }
}

@media (max-width: 999px) {
  .dialog {
    img {
      max-width: calc(100vw - 20px);
    }
  }
}

@media (max-width: 767px) {
  .dialog {
    :global(.MuiPaper-root) {
      margin: 0;
      width: fit-content !important;
    }
  }
}
