.main {
  padding: 50px 10px 0;
  overflow-x: hidden;
}

.divider {
  p {
    text-transform: none;
    text-wrap: balance;
  }
}

.formWrapper {
  @include flex-column;
  max-width: 100%;
}

.form {
  margin-top: 50px;
}

.lessonsCount {
  margin-top: 100px;

  > img {
    margin: 25px 0;
  }
}

.select {
  width: 300px;
}

.comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h6 {
    margin-top: 80px;
    white-space: pre-line;
    font-size: 21px;
    line-height: 24px;
  }

  .commentTextarea {
    margin-top: 30px;
    margin-bottom: 120px;
    height: 235px;
  }
}

.continue {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;

  .line {
    position: absolute;
    height: 2px;
    background-color: black;
    width: 80%;
    box-shadow: $box-shadow;
  }

  .btn {
    background: #fff !important;
    font-size: 24px;
    line-height: 35px;
    padding: 10px 19px !important;

    img {
      width: 16px !important;
      height: 16px !important;
    }

    &:hover {
      background: $color-yellow !important;
    }
  }
}

@media (max-width: 1000px) {
  .comment {
    h6 {
      font-size: 21px;
      text-wrap: balance;
      white-space: initial;
    }
  }
  .scheduleHeader {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .comment {
    h6 {
      font-size: 16px;
    }
  }
  .scheduleHeader {
    font-size: 25px;
  }
  .lessonsCount {
    padding: 26px 10px;
  }
  .continue {
    .line {
      display: none;
    }
  }
}
