.libraryTable {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 60px;
  column-gap: 65px;
}

@media (max-width: 1320px) {
  .libraryTable {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 42px;
  }
}

@media (max-width: 900px) {
  .libraryTable {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

  .carousel {
    :global(.slick-slide) {
      display: flex;
      flex-direction: column;
      > div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px !important;
        > div {
          margin: 10px !important;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .carousel > div:first-child {
    margin: 0 -10px;
  }
  .libraryTable {
    display: block;
  }
}
