.advantagesMain {
  @include flex-column;
  align-items: center;
  gap: 65px;
  width: 100%;
  .header {
    @include flex-row;
    align-items: center;
    gap: 16px;

    .number {
      font-size: 106px;
      font-weight: 700;
      display: flex;
      align-items: flex-end;
      text-align: end;
      align-self: flex-end;
      padding-top: 17px;
    }

    .text {
      .line1 {
        font-size: 43.6px;
        font-weight: 400;
      }

      .line2 {
        font-size: 50px;
        font-weight: 600;
      }
    }
  }

  .textBlock {
    margin-top: -25px;
    margin-bottom: 35px;
  }

  .carousel {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 108px;
    row-gap: 80px;
    
    .card {
      display: flex !important;
      justify-items: center;
      width: 362px;
      padding: 26px 18px;
    }
  }
}

@media (max-width: 1350px) {
  .advantagesMain {
    .cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 108px;
    }
  }
}

@media (max-width: 900px) {
  .textBlock {
    max-width: 100% !important;
  }
  .advantagesMain {
    .cards {
      display: flex;
      width: 100%;
      .card {
        height: 600px;
      }
    }
  }
}
@media (max-width: 615px) {
  .advantagesMain {
    .header {
      .text {
        .line1,
        .line2 {
          width: min-content;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .textBlock {
    padding: 26px 10px;
  }

  .advantagesMain {
    margin-top: 30px;
    gap: 42px;
    .header {
      .text {
        .line1, .line2 {
          font-size: 23px;
          font-weight: 500;
          line-height: 23px;
        }
      }
    }

    .cards {
      .card {
        height: 620px;
        width: 300px !important;
        padding: 26px 10px;
        & div:first-child {
          left: 21px;
        }
        h6 {
          line-height: 26px;
        }
      }
    }
  }
}
