.teamBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .navigation {
    margin-top: 27px;
    display: flex;
  }

  .carousel {
    width: 100%;
    :global(.slick-list),
    :global(.slick-slider) {
      overflow: visible;
    }

    :global(.slick-slide) {
      > div {
        margin: 0 12px;
      }
    }

    :global(.slick-track) {
      align-items: flex-start;
    }

    //   .numbers {
    //     position: absolute;
    //     color: #595959;
    //     top: 0;
    //     left: 0;
    //     // transform: translate(168px, 352px);
    //     transform: translate(552%, 1010%);
    //   }

    //   :global(.slick-prev),
    //   :global(.slick-next) {
    //     svg {
    //       stroke: $color-gray-59;
    //     }
    //   }

    //   :global(.slick-prev) {
    //     top: 0;
    //     left: 0;
    //     // transform: translate(132px, 365px) rotate(180deg);
    //     transform: translate(1190%, 1072%) rotate(180deg);
    //   }
    //   :global(.slick-next) {
    //     top: 0;
    //     left: 0;
    //     // transform: translate(236px, 365px);
    //     transform: translate(1735%, 1072%);
    //   }
  }
}

@media (max-width: 767px) {
  .teamBlock {
    .carousel {
      .numbers {
        // position: absolute;
        // top: 0;
        // left: unset;
        // right: 0 !important;

        // transform: translate(-12px, 12px);

        // h5 {
        //   font-size: 18px;
        // }
      }

      // :global(.slick-prev) {
      //   // transform: translate(28px, 160px) rotate(180deg) !important;
      //   transform: translate(232%, 420%) rotate(180deg);
      // }
      // :global(.slick-next) {
      //   transform: translate(1812%, 420%) !important;
      // }
    }
  }
}
