.test {
  @include flex-column;
  justify-content: center;
  align-items: center;
  padding: $padding-page;
  gap: 70px;
  width: 100%;
  flex-grow: 1;

  .progressBar {
    @include flex-row;
    width: 100%;
    position: relative;
    justify-content: center;

    .line {
      @include center-absolute;
      width: 100%;
      background-color: black;
      height: 2px;
      box-shadow: $box-shadow;
      width: 80%;
    }
    .barWrapper {
      position: relative;
      width: fit-content;
      overflow: hidden;
      border-radius: $border-radius;
      background-color: white;

      .progress {
        transition: 1s;
        background: $color-yellow;
        position: absolute;
        height: 100%;
        border-radius: $border-radius;
        top: 0;
        left: 0;
        box-shadow: $box-shadow;
        filter: blur(3px);
        z-index: 0;
        animation: progressAnimation 2s ease 2s infinite;
      }
    }
    .bar {
      background: transparent;
      padding: 17px;
      gap: 0;
      width: 336px;
      height: 75px;
    }
  }

  form {
    .question {
      font-family: var(--font-heisei);
      font-weight: 400;
    }
    .testForm {
      width: 1210px;
      gap: 34px;
    }
    .subContainer {
      @include flex-row;
      width: 100%;
      justify-content: space-around;
    }
    .subQuestion,
    .answer {
      align-items: flex-start;
      font-size: 20px;
      font-weight: 500;
    }
    .subQuestion {
      padding: 45px 30px 35px 30px;
    }
    fieldset,
    ol {
      all: unset;
    }

    ol {
      @include flex-column;
      text-align: start;
      counter-reset: list;
      align-items: flex-start;
      gap: 21px;
    }
    ol li {
      list-style: none;
    }
    ol li:before {
      content: counter(list, lower-alpha) ") ";
      counter-increment: list;
    }

    .variant {
      @include border-box;
      width: fit-content;
      padding: 14px 21px;
      transition: 0.15s;
      cursor: pointer;

      &:has(input:checked) {
        background-color: $color-yellow;

        &:hover {
          transform: scale(1);
        }
      }

      &:hover {
        transform: scale(110%);
        background-color: $color-yellow;
      }
    }
  }
}

.button {
  background-color: white;
}

@media (max-width: 1250px) {
  .test {
    form {
      .testForm {
        max-width: 90vw !important;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
      }
    }
  }
}

@media (max-width: 900px) {
  .test {
    padding: 65px 10px;
    form {
      .subContainer {
        flex-direction: column;
        row-gap: 65px;
      }
    }
  }
}

@media (max-width: 400px) {
  .test {
    > h3 {
      font-size: 30px;
    }
    .progressBar {
      width: 90vw;
      max-width: 90vw;
      .bar {
        max-width: 100% !important;
      }
    }

    form {
      .testForm {
        padding: 26px 10px;

        & > h4 {
          margin: 10px 0;
        }

        & > div:first-child {
          left: 21px;
          font-size: 24px;
        }
      }

      .label {
        padding: 10px 7px;
        width: 190px;
        white-space: normal;
      }
      .subQuestion {
        padding: 55px 30px 35px 30px;
      }
      .variant {
        padding: 14px 7px;
      }
    }
  }
}
