.narrowTeamMemberCard {
  @include border-box;
  @include flex-row;
  align-items: stretch;
  padding: 30px;
  gap: 35px;
  max-width: 744px;
  width: 100%;

  .line {
    @include border-box;
    color: #000;
    min-height: 100%;
    border-width: 1px;
  }

  .left {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;

    .label {
      font-size: 18px;
      font-weight: 700;
      top: -33px;
      white-space: nowrap;
    }

    .videoIcon {
      position: absolute;
      top: 18px;
      right: 18px;
      width: auto;
      transition: scale 0.15s ease-in-out;
    }

    @media (hover: hover) {
      .imageWithVideo {
        cursor: pointer;
        position: relative;

        &:hover .videoIcon {
          scale: 120%;
        }
      }
    }

    .image {
      // margin-top: 50px;

      img {
        border-radius: 7px;
      }
    }
  }

  .right {
    @include flex-column;
    flex: 1;
    gap: 27px;

    .buttons {
      @include flex-row;
      width: 100%;
      justify-content: space-between;
      height: 90px;
      gap: 2px;
    }

    .content {
      @include flex-column;
      gap: 35px;

      .block {
        @include flex-column;
        gap: 25px;
        text-align: center;

        .header {
          font-size: 20px;
          font-weight: 700;
          line-height: normal;
          text-decoration: underline;
        }

        .caption {
          line-height: normal;
          font-weight: 500;
        }
      }
      .button {
        font-size: 19px;
        font-weight: 600;
        line-height: normal;
      }
    }
  }

  .keyPoint {
    font-size: 16px;
    position: relative;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .narrowTeamMemberCard {
    flex-direction: column;
    padding: 16px;
    padding-top: 54px;
    width: calc(100vw - 14px);

    .left {
      .image {
        width: 244px !important;
      }
      .label {
        top: -54px;
      }
    }

    .line {
      display: none;
    }
  }
}
