.main {
  padding: $padding-page;
  gap: 70px;
  flex: 1;

  .image {
    margin: -25px 0;
  }

  .titleCard {
    font-size: 18px;
    padding: 33px 28px;
  }

  .form {
    @include flex-column;
    gap: 70px;
    max-width: 817px;
    width: 100%;

    .title {
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-decoration: underline;
    }

    .formBlock {
      gap: 60px;
      padding: 38px 55px;

      .questionBlock {
        @include flex-column;
        gap: 37px;
        width: 100%;

        .question {
          font-size: 21px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          text-decoration: underline;
        }
      }

      .inputs {
        @include flex-row;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 43px;
        row-gap: 38px;
        width: 100%;

        .textArea {
          max-width: 100%;
        }
      }

      .checkboxes {
        gap: 20px;
      }
    }

    .agreement {
      margin: -23px 0 -38px 0;
    }
  }
  .buttonWrapper {
    position: relative;
    width: 100%;
    max-width: 1102px;
    display: flex;
    align-items: center;
    justify-content: center;

    .line {
      position: absolute;
      height: 2px;
      background-color: black;
      width: 100%;
      box-shadow: $box-shadow;
    }
  }
}

@media (max-width: 767px) {
  .main {
    padding-bottom: $padding-page-tablet-bottom;
  }
}

@media (max-width: 767px) {
  .main {
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: $padding-page-mobile-bottom;

    .form {
      .formBlock {
        padding: 16px;

        .inputs {
          text-align: start;
        }

        .checkboxes {
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;
          text-align: start;
        }
      }

      .agreement {
        display: flex;
      }
    }
  }
}
