.counterMain {
  @include flex-row;
  padding: 14px 18px;
  justify-content: space-between;
  height: 56px;

  .button {
    padding: 0;
    min-width: fit-content;
    min-height: fit-content;
    width: 28px;
    height: 28px;
    max-height: 28px;
    line-height: 28px;
    font-size: 26px;
    font-weight: 600;

    &:hover {
      transform: scale(100%) !important;
    }
  }

  .amount {
    @include flex-row;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    align-items: flex-end;
    line-height: 28px;
    padding-top: 4px;
  }
}
