$transition-duration: 0.15s;

.mainContainer {
  .selectContainer {
    min-width: fit-content;
    max-width: 350px;
    box-shadow: $box-shadow;
    border: $border;
    border-radius: $border-radius;
    overflow: hidden;
    background-color: white;

    .selectWrapper {
      position: relative;
      cursor: pointer;
      transition: $transition-duration;

      &:hover {
        .arrow {
          scale: 120%;
        }
      }

      .select {
        font: inherit;
        padding: 16px 24px;
        border-radius: $border-radius;
        transition: $transition-duration;
        font-size: 18px;
        padding-right: 48px;
        font-weight: 700;

        .value {
          transition: $transition-duration;
        }

        &:hover {
          background-color: $color-yellow;
          .value {
            scale: 105%;
          }
        }
      }
      .arrow {
        stroke: black;
        position: absolute;
        top: 18px;
        right: 18px;
        transition: $transition-duration;
        pointer-events: none;
        animation: arrowRotateClose 0.3s ease-out forwards;
      }
    }

    .dropdown {
      animation: showDropdown $transition-duration ease-out;
    }

    .selectOpen {
      &:hover {
        .arrow {
          scale: 1;
        }
      }
      .select {
        background: linear-gradient($color-yellow, white);

        &:hover {
          font-size: 18px;
        }
      }

      .arrow {
        animation: arrowRotateOpen 0.3s ease-out forwards;
        scale: 1;
      }
    }
  }
  .disabled {
    color: $color-disabled;
    border-color: $color-disabled;
    .arrow {
      stroke: $color-disabled !important;
    }
    &:hover {
      .arrow {
        scale: none !important;
      }
      .select {
        &:hover {
          background-color: transparent;
          .value {
            scale: none;
          }
        }
      }
    }
  }
  
  .checkbox {
    margin: 0;
    padding: 20px 15px;
    width: 100%;
    &:hover {
      background: $color-yellow;
    }
    :global(.MuiTypography-root) {
      font-size: 16px;
      font-weight: 700;
    }
    :global(.MuiCheckbox-root) {
      // visibility: hidden;
      display: none;
    }
  }
}

@keyframes showDropdown {
  0% {
    opacity: 0;
    pointer-events: none;
  }
  100% {
    opacity: 1;
    pointer-events: all;
  }
}

@keyframes arrowRotateOpen {
  0% {
  }
  50% {
    transform: rotate(-210deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}

@keyframes arrowRotateClose {
  0% {
    transform: rotate(-180deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
