.infoCardsBlock {
  display: flex;

  gap: 16px;
  justify-content: space-between;
  width: 100%;

  .infoCard {
    display: flex !important;
    justify-content: space-between;
    align-items: center;

    img {
      margin: 0 auto;
    }

    .title {
      line-height: normal;
    }
  }
}

@media (max-width: "1024px") and (min-width: "768px") {
  .infoCardsBlock {
    margin-top: -50px;
    .infoCard {
      height: 500px;
    }
  }
}

@media (max-width: "767px") {
  .infoCardsBlock {
    flex-direction: column;
    align-items: center;
    padding: 11px;
  }
}
