.dialog {
  .title {
    font-size: 34px;
    font-weight: 700;
    align-items: center;
  }
  :global(.MuiDialog-paper) {
    padding: 0;
    padding-top: 13px;
    gap: 0px;
    margin: auto;
  }

  .content {
    @include flex-column;
    padding: 29px 55px 40px 55px;
    border-radius: $border-radius;
    gap: 40px;
  }

  .buttonWrapper {
    background: $gradient-rainbow;

    :global(.MuiButton-outlined) {
      &:hover {
        background: $gradient-rainbow !important;
      }
    }
  }
}

@media (max-width: 1023px) {
  .dialog {
    .content {
      padding: 29px 15px;
    }
  }
}

@media (max-width: 767px) {
  .dialog {
    .title {
      font-size: 30px;

      img {
        width: 37px !important;
      }
    }

    .buttonWrapper {
      h6 {
        font-size: 20px;
      }
    }
  }
}
