.dialog {
  :global(.MuiDialog-paper) {
    // padding: 29px 55px;
    padding: 0;
    padding-top: 13px;
    // gap: 30px;
    gap: 0px;
    // overflow-y: auto;
    // overflow-x: hidden;
    // overflow: hidden;
    margin: auto;
  }

  .content {
    @include flex-column;
    padding: 29px 55px;
    border-radius: $border-radius;
  }

  .buttonWrapper {
    background: $gradient-rainbow;

    :global(.MuiButton-outlined) {
      &:hover {
        background: $gradient-rainbow !important;
      }
    }
  }
}

@media (max-width: 1023px) {
  .dialog {
    .content {
      padding: 29px 15px;
    }
  }
}

@media (max-width: 767px) {
  .dialog {
    .title {
      h3 {
        font-size: 30px;
      }
      img {
        width: 37px !important;
      }
    }

    .buttonWrapper {
      h6 {
        font-size: 20px;
      }
    }
  }
}
