.cartMain {
  @include flex-column;
  height: fit-content;
  gap: 50px;

  .headers {
    @include flex-row;
    width: 100%;
    justify-content: space-around;

    span {
      color: $color-gray-46;
      font-weight: 700;
    }
  }

  .items {
    @include flex-column;
    gap: 59px;
  }

  .promoAndTotal {
    @include flex-row;
    width: 100%;
    justify-content: space-between;

    .promoCodeContainer {
      @include flex-column;
      gap: 20px;
      max-width: 294px;

      .formCode {
        .formInput,
        input,
        :global(.MuiInputBase-root) {
          height: 56px;
        }

        input {
          padding-top: 0;
          padding-bottom: 0;
        }

        :global(.MuiInputLabel-root) {
          transform: translate(14px, 17px) scale(1);
          font-size: 16px !important;
        }

        :global(.MuiInputLabel-shrink) {
          transform: translate(19px, -9px) scale(0.85);
          color: #555555;
        }
      }
    }

    .totalContainer {
      @include flex-column;
      gap: 20px;

      .total {
        background: $color-yellow;
        gap: 0;
        padding: 0;
        height: 56px;
        width: 136px;

        span,
        h6 {
          line-height: normal;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .cartMain {
    .promoAndTotal {
      flex-direction: column;
      gap: 40px;

      .promoCodeContainer {
        @include border-box;
        padding: 25px 16px;
      }

      .totalContainer {
        @include border-box;
        padding: 25px 47px;
      }
    }
  }
}
