.promoCodeForm {
  position: relative;
  width: 100%;
  max-width: 330px;

  .input {
    max-width: 100%;
    width: 330px;
  }

  input {
    padding-right: 56px;
  }

  .buttonWrapper {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 3;
    button {
      padding: 0;
      min-width: fit-content;
      min-height: fit-content;
      width: 28px;
      height: 28px;
      font-size: 26px;
      font-weight: 600;

      &:hover {
        transform: scale(100%) !important;
      }
    }
  }

  .buttonDisabled {
    pointer-events: none;

    button {
      border-color: rgba(0, 0, 0, 0.38) !important;
      color: rgba(0, 0, 0, 0.38);
    }
  }
}

@media (max-width: 767px) {
  .promoCodeForm {
    .input {
      width: 100%;
    }
  }
}
