.card {
  position: relative;
  margin: 60px auto 90px;
  gap: 25px;
  padding: 26px 20px;
  .name {
    text-transform: uppercase;
    white-space: nowrap;
  }

  .nameJpn {
    font-family: var(--font-heisei);
  }

  .description {
    margin-top: 30px;
    .descItem {
      margin-top: 7px;
    }
  }

  .labels {
    display: flex;
    justify-content: center;
    row-gap: 20px;
    column-gap: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    .label {
      border: $border;
      border-radius: $border-radius;
      box-shadow: $box-shadow;
      padding: 5px 9px;
      line-height: 18px;
      white-space: pre;
      text-wrap: wrap;
      max-width: 625px;
    }
  }
  .select {
    width: 300px;
  }
  .bottomBtn {
    cursor: pointer;
    position: absolute;
    max-width: 290px;
    height: 45px;
    bottom: 0;
    transform: translate(0, 50%);
    transition: scale 0.2s ease-in-out;
    padding: 0px 12px;
    width: fit-content;

    &:hover {
      scale: 1.05;
    }
  }
  .giftBtn {
    background: linear-gradient(rgba(255, 239, 153, 1), rgba(255, 171, 231, 1));

    &:hover {
      background: linear-gradient(
        rgba(255, 235, 125, 1),
        rgba(255, 141, 223, 1)
      );
    }
  }

  .startBtn {
    background: linear-gradient(rgba(224, 255, 216, 1), rgba(184, 255, 187, 1));

    &:hover {
      background: linear-gradient(
        rgba(198, 255, 177, 1),
        rgba(158, 255, 174, 1)
      );
    }
  }

  .continueBtn {
    background: linear-gradient(rgba(205, 237, 255, 1), rgba(237, 200, 255, 1));

    &:hover {
      background: linear-gradient(
        rgba(178, 214, 255, 1),
        rgba(229, 176, 255, 1)
      );
    }
  }

  .checkboxes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 103%;
    width: 300px;
    margin-top: -10px;
  }

  .checkbox {
    text-align: start;
    line-height: 16.73px;
    margin-right: 0;
    margin-bottom: 10px;

    span {
      font-size: 15px;
      font-weight: 700;
      max-width: 300px;
    }
    span:first-child {
      padding-left: 0;
    }
    :global(.MuiTypography-root) {
      font-size: 15px;
      font-weight: 700;
      text-align: start;
      margin-left: 5px;
    }
  }

  .selfCourseCheckbox br {
    display: none;
  }

  .line {
    height: 2px;
    width: 210px;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    background-color: #565656;
    margin: 0px auto 5px;
  }

  .divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    .line {
      height: 2px;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
      background: rgba(86, 86, 86, 1);
      width: 65px;
      border-radius: $border-radius;
      margin: 0px 5px;
    }
    .text {
      text-transform: uppercase;
      padding: 0px 8px;
    }
  }

  .checkboxWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    span {
      // margin: 0;
      padding-left: 0;
    }
    p {
      margin-left: 5px;
      text-align: left;
      max-width: 290px;
      width: 290px;
      font-size: 15px;
    }
  }

  .giftCheckbox {
    margin: 0;
    margin-bottom: 10px;
    span:last-child {
      max-width: 100%;
      width: 300px;
      text-align: start;
      font-size: 16px !important;
    }
  }
}

.teacher {
  padding: 60px 35px 40px;
  gap: 30px;

  .giftCheckbox {
    margin: 0;
    margin-top: 10px;
    margin-left: -11px !important;
  }
  .megaHeader {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;

    .headerPlus {
      margin: 0 10px;
      font-size: 24px;
      font-weight: 700;
    }

    .headerWrapper {
      width: fit-content;
      height: 100%;
      padding: 5px;
      gap: 0;
      transform-origin: center center;
      transition: all 0.2s ease-in-out;

      p {
        margin: 0;
        text-wrap: nowrap;
      }

      & > p:first-child {
        font-size: 20px;
        font-weight: 700;
      }
      & > p:last-child {
        font-size: 14px;
        font-weight: 400;
        font-family: var(--font-heisei);
      }
    }
  }

  .h6 {
    text-decoration: underline;
    font-size: 22px;
    line-height: 25px;
  }

  .description {
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 5px;
    grid-auto-rows: auto;

    .descItem {
      display: flex;
      align-items: center;
      text-align: start;
      gap: 10px;
      margin-top: 0;
      p {
        max-width: 445px;
      }
    }
  }
  .selects {
    display: flex;
    gap: 40px;

    .select {
      width: 300px;
    }
  }
}

.video {
  width: 625px;

  .imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: $border;
    border-radius: $border-radius;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    a {
      width: 100%;
      height: 100%;
    }

    .playBtn {
      position: absolute;
      fill: white;
      width: 50px;
      height: 50px;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      transform: scale(1.05);

      .playBtn {
        fill: $color-yellow;
        width: 72px;
        height: 72px;
      }
    }
  }
}

.audio {
  .podcast {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 90%;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);

      .triangleBtn {
        fill: $color-yellow;
      }
    }
  }

  .link {
    display: flex;
    align-items: center;
  }

  .triangleBtn {
    fill: white;
    transition: all 0.3s ease-in-out;
    width: 36px;
    height: 38px;
    transition: all 0.3s ease-in-out;

    :hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }
}

.book {
  .description {
    font-size: 16px;
  }
  .labels {
    column-gap: 14px;
  }
  .select {
    margin-top: 15px;
  }

  .carousel {
    width: 500px !important;
    max-width: 100%;

    .carouselItem {
      width: 215px;
      height: 215px;
      background-color: white;
      object-position: top;
    }

    :global(.slick-slide) {
      > div {
        overflow: display;
        margin: 20px 17px;
      }
    }

    :global(.slick-prev) {
      top: calc(40% + 14px);
      left: calc(0% - 25px);
    }

    :global(.slick-next) {
      right: calc(0% - 25px);
    }
  }
  .image {
    border-radius: $border-radius;
  }
}

@media (max-width: 770px) {
  .teacher {
    .description {
      grid-template-columns: 1fr;
      row-gap: 10px;
    }
  }
}

@media (max-width: 675px) {
  .teacher {
    .megaHeader {
      .headerWrapper {
        max-width: 100px;

        p {
          text-wrap: wrap;
        }

        & > p:first-child {
          font-size: 16px;
        }
      }
    }
    .selects {
      flex-direction: column;
      gap: 20px;
    }
  }

  .video {
    max-width: 625px;
    width: 100%;
  }

  .card {
    h3 {
      font-size: 22px;
      text-decoration: underline;
    }
  }
  .bottomBtn {
    width: 270px;
  }
}

@media (max-width: 600px) {
  .book {
    .carousel {
      max-width: calc(100% + 40px);
      min-width: calc(100% + 40px);

      :global(.slick-slide) {
        > div {
          margin: 20px 35px;
        }
      }
      :global(.slick-prev) {
        left: calc(50% - 160px);
      }

      :global(.slick-next) {
        right: calc(50% - 160px);
      }
    }
  }
}

@media (max-width: 500px) {
  .card {
    width: 100%;

    .labels {
      max-width: calc(100% + 10px);
      margin: auto -5px;
      .label {
        white-space: unset;
        text-wrap: wrap;
        text-align: center;
        padding: 5px 5px;
      }
    }

    .checkboxWrapper {
      span {
        margin: 0;
        padding-left: 0;
      }
      p {
        font-weight: 700;
        margin-left: 0px;
        font-size: 13.5px;
        width: 260px;
      }
    }

    .checkbox {
      span {
        max-width: 260px;
      }

      :global(.MuiTypography-root) {
        font-size: 14.5px !important;
        margin-left: 0px;
      }
    }
    .giftCheckbox {
      margin: 0;
      span:last-child {
        width: 260px;
        font-size: 15px !important;
      }
    }
  }
  .header {
    max-width: 310px;
    .name {
      font-size: 21px;
      text-align: center;
      width: 100%;
      line-height: 25px;
    }
  }

  .book {
    .carousel {
      max-width: calc(100% + 20px);
      min-width: calc(100% + 20px);
    }
  }
}

@media (max-width: 450px) {
  .h6 {
    margin-top: 42px;
  }

  .card {
    padding: 20px 10px 40px 10px;
  }

  .book {
    .carousel {
      max-width: calc(100%);
      min-width: calc(100%);
      :global(.slick-slide) {
        > div {
          overflow: display;
          margin: 10px 33px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .book {
    .carousel {
      :global(.slick-prev) {
        left: calc(50% - 145px);
      }

      :global(.slick-next) {
        right: calc(50% - 145px);
      }
    }
  }
}
