.card {
  position: relative;
  margin: 60px auto 90px;

  .name {
    text-transform: uppercase;
  }
  .description {
    margin-top: 30px;
  }

  .labels {
    display: flex;
    justify-content: center;
    row-gap: 20px;
    column-gap: 15px;
    flex-direction: row;
    flex-wrap: wrap;

    .label {
      border: $border;
      border-radius: $border-radius;
      box-shadow: $box-shadow;
      padding: 8px 7px;
      line-height: 15px;
      white-space: pre;
      text-wrap: wrap;
    }
  }

  .bottomBtn {
    cursor: pointer;
    position: absolute;
    max-width: 305px;
    height: 55px;
    bottom: -28px;
    transition: transform 0.2s ease-in-out;
    padding: 0px;

    &:hover {
      transform: scale(1.05);
    }
  }
  .giftBtn {
    background: linear-gradient(rgba(255, 239, 153, 1), rgba(255, 171, 231, 1));

    &:hover {
      background: linear-gradient(
        rgba(255, 235, 125, 1),
        rgba(255, 141, 223, 1)
      );
    }
  }

  .startBtn {
    background: linear-gradient(rgba(224, 255, 216, 1), rgba(184, 255, 187, 1));

    &:hover {
      background: linear-gradient(
        rgba(198, 255, 177, 1),
        rgba(158, 255, 174, 1)
      );
    }
  }

  .continueBtn {
    background: linear-gradient(rgba(205, 237, 255, 1), rgba(237, 200, 255, 1));

    &:hover {
      background: linear-gradient(
        rgba(178, 214, 255, 1),
        rgba(229, 176, 255, 1)
      );
    }
  }

  .disabledBtn {
    background: inherit;
    cursor: default;
    color: #b1b1b1;
    color: $color-disabled;
    border-color: $color-disabled;

    &:hover {
      transform: none;
      background: $color-disabled;
      background: inherit;
    }
  }
  .checkbox {
    text-align: start;
    line-height: 16.73px;
    margin-right: 0;
    margin-bottom: 10px;
    a {
      text-decoration: underline;
    }
    span {
      font-size: 15px;
      font-weight: 700;
      max-width: 300px;
    }
    :global(.MuiTypography-root) {
      font-size: 15px;
      font-weight: 700;
      text-align: start;
      margin-left: 10px;
    }
  }
  .divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    .line {
      height: 2px;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
      background: rgba(86, 86, 86, 1);
      width: 65px;
      border-radius: $border-radius;
    }
    .text {
      text-transform: uppercase;
      padding: 0px 8px;
    }
  }
}

.teacher {
  padding: 60px 35px;
  .description {
    margin-top: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 5px;
    grid-auto-rows: auto;

    .descItem {
      display: flex;
      align-items: center;
      text-align: start;
      gap: 10px;
    }
  }
  .selects {
    display: flex;
    gap: 40px;
    .select {
      width: 300px;
    }
  }
}

.video {
  width: 625px;

  .imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: $border;
    border-radius: $border-radius;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    a {
      width: 100%;
      height: 100%;
    }

    .playBtn {
      position: absolute;
      fill: white;
      width: 50px;
      height: 50px;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      transform: scale(1.05);

      .playBtn {
        fill: $color-yellow;
        width: 72px;
        height: 72px;
      }
    }
  }
}

.audio {
  .podcast {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 90%;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);

      .triangleBtn {
        fill: $color-yellow;
      }
    }
  }

  .link {
    display: flex;
    align-items: center;
  }

  .triangleBtn {
    fill: white;
    transition: all 0.3s ease-in-out;
    width: 36px;
    height: 38px;
    transition: all 0.3s ease-in-out;

    :hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }
}

.book {
  padding-bottom: 50px;

  .description {
    font-size: 16px;
  }
  .labels {
    column-gap: 14px;
  }
  .select {
    margin-top: 15px;
  }

  .carousel {
    .image {
      border: $border;
      border-radius: $border-radius;
    }

    :global(.slick-slide) {
      > div {
        overflow: display;
        margin: 10px 35px;
      }
    }

    :global(.slick-prev) {
      left: 2%;
    }

    :global(.slick-next) {
      right: -5%;
    }
  }
}

@media (max-width: 770px) {
  .teacher {
    .description {
      grid-template-columns: 1fr;
      row-gap: 10px;
    }
  }
}

@media (max-width: 675px) {
  .teacher {
    .selects {
      flex-direction: column;
      gap: 20px;
    }
  }

  .video {
    max-width: 625px;
    width: 100%;
  }

  .card {
    h3 {
      font-size: 22px;
      text-decoration: underline;
    }
  }
  .bottomBtn {
    width: 270px;
  }
}

@media (max-width: 450px) {
  .h3 {
    margin-top: 42px;
  }
  .header {
    width: 90%;
    .name {
      text-wrap: pretty;
      width: 100%;
      line-height: 25px;
    }
  }
  .card {
    padding: 20px 15px;
  }

  .book {
    .select {
      margin-bottom: 40px;
    }
    .carousel {
      :global(.slick-prev) {
        left: 3%;
      }
      :global(.slick-next) {
        right: -3%;
      }
    }
  }
}