$memberCardGap: 56px;

.teamMemberCard {
  @include border-box;
  display: flex;
  position: relative;
  gap: $memberCardGap;
  max-width: 1238px;
  padding: 56px min(56px, 2vw);
  font-weight: 700;
  cursor: default;

  .left {
    display: flex;
    flex-direction: column;
    gap: $memberCardGap;
    position: relative;
    width: 374px;

    .videoIcon {
      position: absolute;
      top: 18px;
      right: 18px;
      width: auto;
      transition: scale 0.15s ease-in-out;
    }

    @media (hover: hover) {
      .imageWithVideo {
        cursor: pointer;
        position: relative;

        &:hover .videoIcon {
          scale: 120%;
        }
      }
    }

    .certificatesWrapper {
      position: relative;
      cursor: pointer;

      &:hover {
        .btnWrapper {
          scale: 110%;
        }
      }
      .btnWrapper {
        button {
          padding: 8px 10px;
        }
      }
      .buttonWrapper {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        z-index: 3;
      }
      .certificates {
        gap: 31px;
        padding: 8px 16px 32px 16px;
        padding-top: 8px;
      }
    }
  }

  .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $memberCardGap;

    .education {
      flex-direction: row;
      max-width: 100%;
      min-height: 274px;

      .educationItem {
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-self: stretch;
        flex: 1;

        .imageWrapper {
          display: flex;
          flex-direction: column;
          height: 92px;
          justify-content: space-between;
          align-items: center;

          img {
            max-width: 62px;
          }
        }

        .content {
          font-size: 18px;
        }
      }
    }

    .about {
      display: flex;
      flex-direction: column;
      gap: 23px;
      font-size: 14px;
    }
  }
}

.label {
  @include border-box;
  position: absolute;
  top: -56px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  font-size: 22px;
  padding: 9px 6px 8px 6px;
  text-align: center;
  white-space: nowrap;
}

.imageWrapper {
  .text {
    text-decoration: underline;
  }
}

.divider {
  @include border-box;
  border-width: 1.5px;
  height: 80%;
}

.certificateLabel {
  max-width: 100%;
  white-space: pre-line;
}

.keyPoint {
  font-size: 20px;
  position: relative;
}

.keyPoint + .keyPoint::before {
  content: "+";
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translate(-50%, -50%);
}
