.password {
  @include flex-column;
  gap: 60px;
  width: 100%;

  .formBlock {
    @include flex-row;
    gap: 81px;

    .left {
      @include flex-column;
      gap: 60px;

      .caption {
        text-align: center;
      }

      .input {
        label {
          margin-left: 15px;
        }

        &:focus-within {
          label {
            margin-left: auto;
          }
        }

        :global(.MuiInputBase-root) {
          background: linear-gradient(180deg, #fffaf9 0%, #fffbd8 100%);
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .password {
    padding: 0 17px;
    .formBlock {
      flex-direction: column;
    }
  }
}