.main {
  padding: $padding-page;
  display: flex;
  flex-direction: column;
  gap: 95px;
  align-items: center;

  .ideaBlock {
    @include flex-column;
    gap: 86px;
    h4 {
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
      font-size: 32px;
      b {
        font-size: 34px;
      }
    }
    .logoWrapper {
      @include flex-row;
      max-width: 100%;
      overflow: hidden;

      .logo {
        position: relative;

        .video {
          min-width: 251px;
        }
      }

      .confetti {
        z-index: -1;
        width: 100%;
      }

      .confettiLeft {
        animation: confettiAppearLeft 5s ease, breathing 5s ease infinite;
      }

      .confettiRight {
        animation: confettiAppearRight 5s ease, breathing 5s ease infinite;
      }
    }
  }

  .partnersBlock {
    @extend %block;
  }

  .authorContentBlock {
    @extend %block;
    width: 100%;

    .wrapper {
      display: flex;

      justify-content: space-around;
      width: 100%;

      .socialCard {
        gap: 29px;
      }
    }
  }
}

.carouselCard {
  padding: 51px 0;
  gap: 35px;

  .carouselItem {
    img {
      border-radius: 7px;
    }
  }
}

@keyframes confettiAppearLeft {
  0% {
    transform: translate(300px, 0) scale(0) rotate(-15deg);
  }
  100% {
    transform: translate(0) scale(1) rotate(0);
  }
}

@keyframes confettiAppearRight {
  0% {
    transform: translate(-300px, 0) scale(0) rotate(15deg);
  }
  100% {
    transform: translate(0) scale(1) rotate(0);
  }
}

@keyframes breathing {
  0% {
  }
  50% {
    transform: scale(110%);
  }
  100% {
    transform: scale(100%);
  }
}

@media (max-width: 1250px) {
  .ideaBlock {
    .logo {
      width: 250px;
    }
    .confetti {
      max-width: 344px;
    }
  }
}

@media (max-width: 1023px) {
  .main {
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
    gap: 70px;

    h3 {
      font-size: 32px;
    }

    .ideaBlock {
      gap: 50px;
      .title {
        font-size: 28px !important;

        b {
          font-size: 30px;
        }
      }
      .logo {
        width: 493px;
      }
      .confetti {
        display: none;
      }

      .caption {
        font-size: 18px;
        padding: 0 56px;
      }
    }

    .partnersBlock {
      gap: 35px;

      h3,
      h6,
      p {
        max-width: 90vw;
      }

      h3 {
        font-size: 30px;
      }
      h6,
      p {
        font-size: 18px;
      }
    }

    .authorContentBlock {
      .wrapper {
        justify-content: space-around;
        gap: 0;
      }

      h3 {
        font-size: 30px;
      }

      h6 {
        font-size: 22px;
      }

      p {
        font-size: 14px;
      }

      .wrapper {
        width: 100%;
        justify-content: space-around;
        .socialCard {
          justify-content: space-between;
          width: 332px;
          padding: 21px;
        }
      }
    }
  }
}

.studio {
  position: relative;
  width: 100%;
  max-width: 1350px;

  .labelTop {
    position: absolute;
    max-width: 302px;
    padding: 20px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(180deg, #fdff87 0%, #fad26c 100%);
    font-size: 30px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
  }
  .labelBottom {
    position: absolute;
    max-width: 675px;
    padding: 16px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    background: linear-gradient(180deg, #fdff87 0%, #fad26c 100%);
    font-size: 21px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .main {
    h3 {
      font-size: 25px;
    }
    .ideaBlock {
      .logo {
        width: 251px;
      }
      .title,
      b {
        font-size: 20px !important;
      }
      .caption {
        font-size: 16px;
        text-align: justify !important;
        padding: 0 15px;
      }
    }

    .partnersBlock {
      .carouselCard {
        padding: 28px;
      }

      :global(.slick-slide) {
        > div {
          margin: 38px;
        }
      }

      :global(.slick-list),
      :global(.slick-track) {
        max-height: 200px;
        height: fit-content !important;
      }
    }

    .authorContentBlock {
      gap: 35px;
      .wrapper {
        justify-content: space-around;
        gap: 0;
      }

      h3 {
        font-size: 25px;
      }
      h6 {
        font-size: 22px;
      }
      p {
        font-size: 14px;
      }

      .wrapper {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        .socialCard {
          justify-content: space-between;
          width: 332px;
          padding: 21px;
        }
      }
    }
  }

  .studio {
    .labelTop {
      font-size: 30px;
    }
    .labelBottom {
      padding: 10px 7px;
      font-size: 16px;
      font-weight: 700;
      line-height: 22px;
      max-width: 70%;
    }
  }
}

@media (max-width: 450px) {
  .studio {
    padding: 0 10px;
    margin-bottom: 140px;
    display: flex;
    justify-content: center;

    .labelTop {
      width: fit-content;
      text-wrap: nowrap;
      padding: 10px;
      font-size: 20px;
    }

    .labelBottom {
      max-width: calc(100% - 10px);
      padding: 10px 7px;
      font-size: 16px;
      font-weight: 700;
      line-height: 22px;
      bottom: -21px;
      left: auto;
      right: auto;
      margin: 0 auto;
      height: 140px;
      transform: translate(0, 100%);
    }
  }
}
