.main {
  padding: $padding-page;
  display: flex;
  flex-direction: column;
  gap: 95px;
  align-items: center;
  // max-width: 100vw;

  .ideaBlock {
    @include flex-column;
    gap: 86px;
    .logoWrapper {
      @include flex-row;
      max-width: 100%;
      overflow: hidden;

      .logo {
        position: relative;

        .video {
          min-width: 251px;
        }
      }

      .confetti {
        z-index: -1;
        width: 100%;
      }

      .confettiLeft {
        animation: confettiAppearLeft 5s ease, breathing 5s ease infinite;
      }

      .confettiRight {
        animation: confettiAppearRight 5s ease, breathing 5s ease infinite;
      }
    }
  }

  .button {
    background: linear-gradient(180deg, #ffffff, #fffbd8);
    width: 200px;
  }

  .infoCardsBlock {
    display: flex;
    gap: $gap-block-vertical;

    .infoCard {
      justify-content: space-between;

      .title {
        line-height: normal;
      }
    }
  }

  .partnersBlock {
    @extend %block;
  }

  .authorContentBlock {
    @extend %block;

    .wrapper {
      display: flex;
      gap: $gap-block-vertical;

      .socialCard {
        gap: 29px;
      }
    }
  }

  .linkCardsBlock {
    display: flex;
    justify-content: center;
    gap: $gap-block-horizontal;
    width: 100%;
    margin-bottom: 100px;
  }
}

.carouselCard {
  padding: 51px 0;
  gap: 51px;

  .carouselItem {
    img {
      border-radius: 7px;
    }
  }
}

@keyframes confettiAppearLeft {
  0% {
    transform: translate(300px, 0) scale(0) rotate(-15deg);
  }
  100% {
    transform: translate(0) scale(1) rotate(0);
  }
}

@keyframes confettiAppearRight {
  0% {
    transform: translate(-300px, 0) scale(0) rotate(15deg);
  }
  100% {
    transform: translate(0) scale(1) rotate(0);
  }
}

@keyframes breathing {
  0% {
  }
  50% {
    transform: scale(110%);
  }
  100% {
    transform: scale(100%);
  }
}

@media (max-width: 1250px) {
  .ideaBlock {
    .logo {
      width: 250px;
    }
    .confetti {
      max-width: 344px;
    }
  }
}

@media (max-width: 1023px) {
  .main {
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
    gap: 70px;

    .ideaBlock {
      gap: 50px;
      .title {
        font-size: 28px !important;

        b {
          font-size: 30px;
        }
      }
      .logo {
        width: 493px;
      }
      .confetti {
        display: none;
      }

      .caption {
        font-size: 18px;
        padding: 0 56px;
      }
    }
  }
}

@media (max-width: 767px) {
  .main {
    .ideaBlock {
      .logo {
        width: 251px;
      }
      .title,
      b {
        font-size: 20px !important;
      }
      .caption {
        font-size: 16px;
        text-align: justify !important;
        padding: 0 15px;
      }
    }
  }
}
