.header {
  width: 100%;
  height: 70px;
  background-color: $color-yellow;
  border: $border;
  border-top: none;
  border-radius: 0 0 $border-radius $border-radius;
  box-shadow: $box-shadow;
  position: fixed;
  top: 0;
  max-width: 1400px;
  z-index: 20;
}

.logo {
  overflow: hidden;
  height: 100%;
  .logoIcon {
    &:hover {
      scale: 1.1;
    }
    margin-left: 35px;
    margin-right: 40px;
  }
}

.navigation {
  display: flex;
  gap: 25px;
  .dropdown {
    margin-right: 35px;
  }
}

.socials {
  margin: 0 auto;
  gap: 30px;
}

.auth {
  margin-right: 25px;
  gap: 15px;
}

.register {
  padding: 3px 10px !important;

  &:hover {
    background: #fff !important;
    font-weight: 800;
  }
}

.header,
.logo,
.navigation,
.socials,
.auth {
  display: flex;
  align-items: center;
}
