.contentMain {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
  // grid-column-gap: 100px;
  gap: 100px;
  justify-items: center;
  align-items: center;
}
