.contentMain {
  @include flex-column;
  width: 100%;
  gap: 100px;

  .cards {
    @include flex-row;
    width: 100%;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 1023px) {
  .contentMain {
    .cards {
      gap: 50px;
    }
  }
}

@media (max-width: 767px) {
  .contentMain {
    padding-right: 9px;
    padding-left: 9px;
  }
}
