.shopItemCardLargeMain {
  padding: 33px;
  gap: 24px;
  background: linear-gradient(
    180deg,
    rgba(255, 237, 232, 0.1) 0%,
    #fffbd8 100%
  );

  .carousel {
    .carouselItem {
      width: 215px;
      height: 215px;
      background-color: white;
      object-position: top;
    }

    :global(.slick-slide) {
      > div {
        overflow: display;
        margin: 20px 35px;
      }
    }
    :global(.slick-prev) {
      left: 2%;
    }

    :global(.slick-next) {
      right: -7%;
    }
  }

  .priceBlock {
    .price {
      @include flex-row;
      gap: 8px;
    }
    .date {
      padding: 2px 6px;
      background: $gradient-rainbow;
    }
  }

  .captionBlock {
    text-align: start;
    text-indent: 2rem;
  }

  .hashtagsBlock {
    @include flex-row;
    justify-content: space-between;
    width: 100%;

    .tag {
      padding: 3px 6px;
      gap: 0;
      white-space: pre;
      line-height: 10px;
      background: #fff2c9;
    }
  }
}
