.schedule {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .buttons {
    margin: 10px 0 20px;
    display: flex;
    column-gap: 60px;
    .timeBtn {
      border: 2px solid black;
      padding: 10px 15px;
      box-shadow: $box-shadow;
      border-radius: 10px;
      font-size: 17px !important;
      cursor: default;
    }
  }

  .line {
    background: $color-black;
    width: 2px;
    height: 80px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .inappropriateBtn {
    &:hover {
      background: #e1edff;
    }
    background: #e1edff;
  }

  .maybeBtn {
    &:hover {
      background: #fff48d;
    }
    background: #fff48d;
  }

  .perfectBtn {
    &:hover {
      background: #caffbd;
    }
    background: #caffbd;
  }
}

.scheduleCard {
  max-width: 100%;
  width: 1350px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;

  .dayColumn {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    h6 {
      text-transform: uppercase;
      font-size: 20px;
    }
  }

  .timeBtn {
    width: 130px;
    font-size: 19px;
    line-height: 22px;
  }

  .day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1110px) {
  .schedule {
    .line {
      display: none;
    }
  }

  .scheduleCard {
    margin-top: 42px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    & > p {
      border: $border;
      border-radius: $border-radius;
      box-shadow: $box-shadow;
      padding: 20px 10px;
    }
  }
  .container {
    width: 90vw;
    overflow: auto;
    overflow-y: hidden;
    padding-bottom: 20px;

    &::-webkit-scrollbar {
      height: 7px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 10px;
      overflow: hidden;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
  .scheduleCard {
    max-width: fit-content;
  }
}

@media (max-width: 600px) {
  .schedule {
    .buttons {
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      gap: 20px;
    }
  }
  .scheduleCard {
    padding: 26px 10px;
  }
}
