.requisites {
  @include flex-column;
  padding: $padding-page;
  gap: 70px;

  .requisitesCard {
    padding: 44px;
    padding-bottom: 35px;
    gap: 35px;

    .wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .column {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .tile {
        background: transparent;
        padding: 20px 26px;
        height: 100px;
        gap: 0;
        justify-content: space-between;
        max-width: 364px;

        h5,
        p {
          line-height: normal;
        }

        h5 {
          font-size: 25px;
        }
        p {
          font-size: 18px;
        }
      }
    }

    .column:nth-child(2) {
      .tile {
        min-width: 274px;
      }
    }
  }

  .text {
    @include flex-column;
    gap: 56px;

    p,
    h6 {
      font-weight: 700 !important;
    }
  }

  .qrCodesBlock {
    display: flex;
    gap: 80px;
  }
}

@media (max-width: 800px) {
  .requisites {
    padding: 65px 10px;
    .requisitesCard {
      padding: 26px;

      .wrapper {
        flex-wrap: wrap;
        gap: 10px;
      }
      .column {
        justify-content: space-between;
      }
    }
  }
}

@media (max-width: 710px) {
  .requisites {
    .requisitesCard {
      .wrapper {
        flex-wrap: wrap;
        gap: 15px;
      }
      .column {
        width: 100%;
        align-items: center;
        gap: 15px;
        .tile {
          padding: 10px;
        }
      }
    }

    .qrCodesBlock {
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
      max-width: 590px;
      gap: 10px;
    }
  }
}

@media (max-width: 450px) {
  .requisites {
    & > h3 {
      font-size: 32px !important;
    }
    .requisitesCard {
      padding: 10px;
      width: calc(100% + 20px);
      .wrapper {
        flex-wrap: wrap;
        gap: 15px;
      }
      .column {
        width: 100%;
        align-items: center;
        gap: 15px;
        .tile {
          padding: 10px;
        }
      }
    }

    .qrCodesBlock {
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
      max-width: 590px;
      gap: 30px;
    }
  }
}
