.payment {
  padding: 100px 10px 0px;
}

.paymentCard {
  min-height: 500px;
  flex-grow: 1;
  margin-top: 100px;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    margin-top: 30px;
  }
}

.label {
  padding: 12px 10px;
}

.amount,
.comment {
  background: #ffffff;
}

.amount {
  margin-top: auto;
}
.comment {
  margin-top: 41px;
}
.buttonWrapper {
  margin-top: 38px;

  .button {
    height: 60px;
    width: 245px;
    font-size: 19px;
  }
}

.checkboxWrapper {
  margin-top: 33px;
  display: flex;
  align-items: center;
  padding-left: 10px;

  .checkbox {
    input + span {
      background: #ffffff;
    }
  }

  span:last-child {
    text-align: start;
    margin-left: 15px;
    line-height: 20px;
    color: #3d3d3d;
  }
}

.dividerParagraph {
  margin-top: 100px;
}

.requisitesCard {
  margin: 70px 0 105px;
  height: 215px;
  gap: 0;
  padding: 40px 26px 30px;
}

@media (max-width: 600px) {
  .payment {
    padding: 70px 5px 0px;
  }

  .requisitesCard {
    padding: 40px 10px 30px;
  }

  .paymentCard {
    padding: 26px 15px;
  }
  .checkboxWrapper {
    padding-left: 0px;

    span:last-child {
      margin-left: 0px;
    }
  }

  .dividerParagraph {
    margin-top: 70px;
  }
}
