.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $padding-page;
  gap: 110px;

  .button {
    h6 {
      line-height: normal;
    }
  }
}

.dialog {
  @include flex-column;
}

.intro {
  @include flex-column;
  gap: 28px;
  .about {
    span {
      display: none;
    }
  }
}

.header {
  display: flex;
  align-items: baseline;
  white-space: normal;
  h5,
  p {
    display: inline;
  }
  h5 {
    white-space: normal;
    font-size: 33px;
  }
  p {
    font-size: 28px;
  }
}

.about {
  text-align: center;
  line-height: 29px;
  font-weight: 700;
  max-width: 1130px;
  font-size: 22px;
}

.opportunities {
  margin-top: -30px;
  & > p {
    font-size: 18px;
  }
}

.opportunityCards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 65px;

  .opportunityCard {
    gap: 0;
    padding: 20px 12px;
    img {
      margin-bottom: 20px;
    }
    p {
      font-weight: 600;
    }
  }
}

.author,
.ahead {
  display: flex;
  flex-direction: row;
  max-width: 1100px;
  width: 100%;
  height: fit-content;
  gap: 69px;

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about {
    width: 100%;
    text-align: justify;
  }
}
.author {
  .text {
    h5,
    h4 {
      font-weight: 500;
    }
  }
  .about {
    font-weight: 500;
  }
  .jpn {
    font-family: var(--font-heisei);
    font-weight: 500;
    -webkit-text-stroke: 0.4px;
  }
}

.links {
  width: 100%;
  max-width: 1250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  .link {
    gap: 20px;
    width: 345px;
    height: 315px;
    padding: 20px;
    &:hover {
      .buttonWrapper {
        scale: 110%;
      }
    }

    &:nth-child(1) {
      img {
        top: -10px;
        right: -5px;
      }
    }
    &:nth-child(2) {
      img {
        top: -12px;
        right: -12px;
      }
    }
    &:nth-child(3) {
      img {
        top: -8px;
        right: -5px;
      }
    }
  }
  button {
    min-width: 270px;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(#ffede81a, #fffbd8);
    white-space: nowrap;
  }
}

.ahead {
  height: auto;

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 85px;
  }

  .photo {
    margin: 0;
  }
}

.formats {
  gap: 30px;

  & > p {
    max-width: 785px;
    font-size: 18px !important;
    margin-bottom: 10px;
  }
  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
    max-width: 100%;
  }
  .card {
    & > div:first-child {
      padding: 2px 5px;
      text-transform: uppercase;
      span {
        font-size: 13px !important;
        line-height: 14px;
        font-weight: 700;
      }
    }

    padding: 32px 10px 20px;
    a {
      font-weight: 700;
      font-size: 18px;
    }
    p {
      font-weight: 600;
    }
  }
}

.courses {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 103px;

  h3 {
    font-size: 40px;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 110px;
  }

  .card {
    padding: 46px 25px 35px 25px;
    height: 100%;

    & > div:first-child {
      transition: all 0.2s ease-in-out;
    }
    &:hover > div:first-child {
      height: 60px;
      width: auto;
      padding: 11px 18px;
      box-shadow: 0px 0px 7px 0px #000 inset,
        0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      border: 3px solid $color-black;
    }

    & > p {
      text-wrap: balance;
    }

    div {
      width: auto;
      height: 50px;
      transition: 0.2s ease-in-out;
      &:hover {
        height: 60px;
        width: auto;
        padding: 11px 18px;
      }
    }

    .label1,
    .label2 {
      white-space: pre;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      font-weight: 700;
    }
    .label1 {
      line-height: 21.19px;
      font-size: 19px;
    }

    .label2 {
      line-height: 15.61px;
      font-size: 14px;
    }
  }
}

.personalCabinet {
  gap: 66px;
}

.cabinetCards {
  flex-direction: row;
  gap: 40px;
}

.cabinetCards,
.cabinetCardsCarousel {
  ul li {
    text-align: left;
  }
  ul {
    margin: 0;
    padding-left: 25px;
  }
  li {
    margin-top: 5px;
    font-size: 17px;
  }
  .card {
    padding: 30px 20px;
    gap: 26px;
  }
  .plus {
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    color: #5c5c5c;
    cursor: default;
  }
}

.cabinetCardsCarousel {
  width: 102vw !important;
  .card {
    position: relative;
    &::after {
      content: "+";
      @include flex-row;
      justify-content: center;
      font-size: 36px;
      width: 28px;
      height: 28px;
      background-image: url("/public/icons/plus.svg");
      position: absolute;
      top: 50%;
      right: -12%;
      transform: translate(50%, -50%);
      z-index: 3;
    }
  }
}

.orderWrapper {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.freeCourseHeader {
  display: none;
}

.freeCourse {
  padding: 40px;
  &:hover {
    button {
      background: #c6ffb1 !important;
      scale: 110%;
    }
  }
  .buttonWrapper:hover {
    scale: none !important;
  }
  button {
    transition: 0.2s ease-in-out;
    background: linear-gradient(#ffede81a, #fffbd8);
  }
}

.start {
  padding: 50px 80px 50px;

  .cards {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    margin-top: 50px;
    min-height: 250px !important;
  }

  .card {
    padding: 16px;
  }
  .arrow {
    position: relative;
    svg {
      transition: 0.3s ease-in-out;
      &:hover {
        scale: 110%;
        fill: $color-yellow !important;
      }
    }
  }
  p {
    font-size: 17px;
    line-height: 21px;
    font-weight: 600;
  }
}

.moreLinks {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 16px;
  height: fit-content;
  align-items: center;
  br {
    display: none;
  }
  .button {
    margin-top: auto;
    min-width: 200px;
    height: 60px;
    white-space: nowrap;

    button {
      font-size: 24px;
      font-weight: 600;

      &:hover {
        background: $color-yellow !important;
      }
    }
  }

  .link {
    padding: 25px 15px;
    align-self: stretch;

    p {
      font-weight: 700;
      font-size: 21px;
    }

    .button {
      transition: 0.2s ease-in-out;
    }
    img {
      margin: auto;
    }
    &:hover {
      .wrapper {
        scale: 110%;
      }
    }

    .button img {
      top: -7px;
      right: -14px;
    }
  }

  .buttonWrapper {
    background: linear-gradient(#ffede81a, #fffbd8);
  }
}

@media (max-width: 1023px) {
  .main {
    padding-top: 45px;
    overflow-x: hidden;
    padding-bottom: $padding-page-tablet-bottom;
  }
  .header {
    max-width: 520px;
    h5,
    p {
      display: inline;
    }
  }
  .about {
    font-size: 18px;
    max-width: 690px;
    line-height: 22px;
  }
  .opportunities {
    padding-left: 0px;
    padding-right: 0px;
    width: 102vw;
    @media (min-width: 768px) {
      & > p {
        margin-bottom: -20px !important;
      }
    }
  }

  .author {
    @include flex-column;
    gap: 30px;
    .nameImageWrapper {
      @include flex-row;
      justify-content: center;
      width: 100%;
      gap: 29px;

      .text {
        gap: 10px;
        @media (min-width: 768px) {
          h4 {
            font-size: 28px;
            font-weight: 700;
            white-space: pre;
          }
        }
      }

      .photo {
        margin: 0;
        max-width: 291px;
        height: auto;
      }
    }
  }

  .ahead {
    flex-direction: column;
    .imageTablet {
      @include flex-row;
      gap: 60px;
    }
  }

  .formats {
    padding: 26px 0px;
    width: 102vw;
    .card {
      display: flex !important;
      & > div:first-child {
        display: none;
      }
    }
  }

  .courses {
    .cards {
      grid-template-columns: 1fr !important;
    }
  }

  .personalCabinet {
    @media (min-width: 768px) {
      margin-bottom: -150px;
    }
    h2 {
      font-size: 35px !important;
    }
    p {
      max-width: 500px;
      margin: 0 auto;
    }
    .boyLaptop {
      max-height: 348px;
    }
  }

  .freeCourse {
    max-width: 740px !important;
    padding: 26px 18px;
    p {
      font-size: 19px !important;
    }
  }

  .start {
    padding: 0;
    border: unset;
    box-shadow: unset;
    h4 {
      @media (min-width: 768px) {
        br {
          display: block !important;
        }
      }
      max-width: 600px;
    }
    .carousel {
      width: 100vw !important;

      :global(.slick-next) {
        transform: translate(100%, -80%);
      }
      :global(.slick-prev) {
        transform: translate(-200%, -75%) rotate(180deg);
      }

      .arrow {
        position: absolute;
        top: 50%;
        right: -50%;
        transform: translate(-225%, -50%);
        z-index: 2;
      }
    }

    .card {
      max-height: fit-content;
      height: fit-content;
    }
  }

  .moreLinks {
    flex-direction: column;
    gap: 0px;

    .carousel {
      width: 100vw !important;
      :global(.slick-slide) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        > div {
          width: 345px !important;
          margin-left: -130px;
          margin-right: -130px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .main {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 40px;
    padding-bottom: $padding-page-mobile-bottom;
    gap: 75px;
  }
  .header {
    h5 {
      font-size: 28px;
      line-height: 26px;
    }
    p {
      font-size: 22px;
    }
  }
  .intro {
    .about {
      font-size: 16px;
      line-height: 20px;
      max-width: 330px;
      span {
        display: inline;
      }
    }
  }

  .opportunities {
    padding: 0;
    border: unset;
    box-shadow: unset;
    & > p {
      font-size: 15px;
      max-width: 350px;
    }
    .opportunityCards {
      flex-direction: column;
      padding: 0;
      gap: 50px;
    }
  }

  .author {
    flex-direction: column;
    .text {
      h4 {
        font-size: 25px !important;
        line-height: 28px !important;
      }
      h3 {
        font-size: 27px !important;
        line-height: 30px !important;
      }
      .about {
        margin-top: 30px !important;
        font-size: 15px !important;
        max-width: 350px;
      }
    }
  }

  .ahead {
    gap: 33px;
    .text {
      order: 1;
      gap: 34px;
      padding: 0 10px;
      max-width: 340px;
      h2 {
        font-size: 28px;
      }
      p {
        font-size: 15px !important;
      }
    }
    .photo {
      order: 2;
    }
  }

  .formats {
    border: unset;
    padding: 0;
    width: 100%;
    box-shadow: unset;
    & > p {
      font-size: 16px !important;
      br {
        display: none;
      }
    }
    .cards {
      flex-direction: column;
      .card {
        & > div:first-child {
          display: none;
        }
      }
    }
  }

  .courses {
    margin-top: 42px;
    gap: 50px;
    h3 {
      font-size: 28px;
      max-width: 190px;
      margin-top: -33px;
    }
    .cards {
      gap: 75px;
    }
  }

  .personalCabinet {
    gap: 40px;
    h2 {
      font-size: 28px !important;
    }
    p {
      display: none;
    }
    .boyLaptop {
      max-height: 240px;
    }
    &:after {
      content: "Навчайся з будь-якого девайсу на єдиній інтерактивній платформі.";
      font-size: 19px;
      font-style: normal;
      font-weight: 700;
      line-height: 21px;
      text-align: center;
    }
  }
  .cabinetCards {
    flex-direction: column;
    .card {
      max-height: fit-content !important;
    }
  }

  .orderWrapper {
    section {
      order: 10;
    }
  }

  .start {
    h4 {
      font-size: 26px !important;
    }
    & > p {
      font-size: 18px !important;
      br {
        display: none;
      }
    }
    .cards {
      flex-direction: column;

      .arrow {
        transform: rotate(90deg);
      }
    }
  }

  .freeCourseHeader {
    display: block;
    margin: -30px auto 33px;
  }
  .freeCourse {
    padding: 20px 10px;
    max-width: 345px !important;
    h4 {
      display: none;
    }
    p {
      font-size: 16px !important;
      line-height: 20px !important;
      max-width: 300px;
      font-weight: 500;
      margin: 0;
    }
  }

  .moreLinks {
    flex-direction: column;
    gap: 50px;
    br {
      display: block;
    }
    h4 {
      font-size: 27px;
      width: 305px;
    }
    .link {
      margin: 0 auto;
      max-width: 345px !important;
      p {
        max-width: 320px;
        line-height: 22px;
      }
      .button img {
        display: none;
      }
    }
    #additionalQuestion {
      order: 10;
    }
  }
}
