.courses {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  column-gap: 100px;
}

.carousel {
  width: 100vw !important;

  .slideNumbers {
    position: relative;
  }

  :global(.slick-list) {
    overflow: visible;
    z-index: 5;
  }
  
  :global(.slick-track) {
    align-items: start;
  }

  :global(.slick-slider) {
    overflow: visible;
  }
  
  :global(.slick-prev),
  :global(.slick-next) {
    position: absolute;
    z-index: 2;
  }
}

@media (min-width: 890px) {
  .courses {
    row-gap: 140px;
  }
}
