.courses {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  column-gap: 100px;
}

.carousel {
  width: 100vw !important;
}
@media (min-width: 890px) {
  .courses {
    row-gap: 100px;
  }
}
