.dialog {
  .close {
    position: absolute;
    transform: rotate(45deg);
    top: -36px;
    right: -36px;
    z-index: 4;

    cursor: pointer;

    path {
      fill: #d5d5d5;
    }
  }
  :global(.MuiDialog-paper) {
    @include border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 30;
    padding: 0px;
    overflow: visible;
    max-width: fit-content;
  }

  .title {
    display: flex;
    gap: 7px;
  }

  .content {
    display: flex;
    gap: 77px;
  }
}

@media (min-width: 1024px) {
  .dialog {
    :global(.MuiDialog-paper) {
      ::-webkit-scrollbar {
        width: 10px;
      }

      ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
        overflow: hidden;
      }

      ::-webkit-scrollbar-thumb {
        background: #888;
        height: 10%;
        min-height: 20px;
        border-radius: 10px;
      }

      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }
  }
}

@media (max-width: 1023px) {
  .dialog {
    .close {
      top: 6px;
      right: 6px;
      width: 25px;

      path {
        fill: $color-gray-59;
      }
    }
  }
}
