.layout {
  @include flex-column;
  width: 100%;
  padding: $padding-page;
  gap: 60px;
}

@media (max-width: 1023px) {
  .layout {
    padding-left: 17px;
    padding-right: 17px;
  }
}

@media (max-width: 767px) {
  .layout {
    padding-left: 0;
    padding-right: 0;
  }
}
