.dialog {
  :global(.MuiPaper-root) {
    height: fit-content;
    margin: 4px;
    gap: 40px;
    padding-top: 16px;
  }

  .dialogContent {
    padding: 30px 77px 73px;
    overflow: visible;

    .certificate {
      justify-content: space-between;
      padding-top: 44px;
      .caption {
        margin: auto;
      }
    }
  }
}

@media (max-width: 767px) {
  .dialog {
    .title {
      h3 {
        font-size: 28px;
      }
    }

    .dialogContent {
      flex-direction: column;
      height: fit-content;
    }
  }
}
