.dialog {
  :global(.MuiPaper-root) {
    height: fit-content;
    margin: 4px;
    gap: 40px;
    padding-top: 16px;
  }

  .dialogContent {
    padding: 30px 77px 73px;

    .certificate {
      justify-content: space-between;
      padding-top: 44px;
      cursor: pointer;
      .caption {
        margin: auto;
        margin-top: 0;
      }
    }
  }
}

@media (max-width: 767px) {
  .dialog {
    :global(.MuiPaper-root) {
      gap: 20px;
    }
    .title {
      h3 {
        font-size: 28px;
      }
    }

    .dialogContent {
      flex-direction: column;
      height: fit-content;
      padding: 30px 16px;
    }
  }
}
