.main {
  padding: 0 10px;
}
.pageHeader {
  margin-top: 70px;
  text-align: center;
  h5 {
    font-size: 27px;
  }
  h3 {
    font-size: 39px;
  }
}

.headerParagraph {
  margin-top: 65px;
  max-width: 1000px;
  text-wrap: balance;
}

.divider {
  p {
    text-transform: none;
  }
}

.reminder {
  margin-top: 100px;

  img {
    margin: 25px 0;
  }

  .list {
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-size: 18px;
  }
}

.checkboxWrapper {
  @include flex-row;
  column-gap: 10px;
}
.checkbox {
  margin: 50px 0;

  :global(.MuiTypography-root) {
    font-size: 16px;
    max-width: 395px;
    text-align: start;
    margin-left: 20px;
    color: #3d3d3d;
  }
}

.continue {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;

  .line {
    position: absolute;
    height: 2px;
    background-color: black;
    width: 80%;
    box-shadow: $box-shadow;
  }

  .btn {
    background: #fff !important;
    font-size: 24px;
    padding: 10px 19px !important;

    img {
      width: 20px;
      height: 20px;
    }
    &:hover {
      background: $color-yellow !important;
    }
  }

  .disabled {
    &:hover {
      transform: none !important;
      background: #fff !important;
    }
  }
}

@media (max-width: 625px) {
  .pageHeader {
    h5,
    h3 {
      font-size: 26px;
      display: contents;
    }
  }
  .headerParagraph {
    font-size: 20px;
  }

  .reminder {
    padding: 26px 10px;

    h6 {
      text-wrap: balance;
    }
    .list {
      gap: 14px;
      font-size: 16px;
      padding-inline-start: 25px;
    }
  }
}

@media (max-width: 575px) {
  .checkboxWrapper p {
    white-space: initial !important;
  }
}
