$transition: all ease 0.2s;
$padding-card: 55px 30px 18px 30px;

.libraryItemCard {
  position: relative;
  max-width: fit-content;
}

.label {
  > * {
    white-space: pre-wrap;
  }
}

.article,
.articleSmall,
.reels,
.music,
.podcast {
  cursor: pointer;
  padding: $padding-card;
  position: relative;
}

.article,
.podcast {
  height: 566px;
  height: fit-content;
  max-width: 626px;
  width: 100%;
}

.articleSmall {
  max-width: 384px;
  width: 100%;
}

.articleSmall,
.reels {
  height: 603px;
}

.article,
.articleSmall {
  .carousel {
    .carouselItem {
      width: 215px;
      height: 215px;
      background-color: white;
      object-position: top;

      img {
        border-radius: 7px;
      }

      &:hover {
        img {
          transform: unset;
        }
      }
    }

    :global(.slick-slide) {
      > div {
        overflow: display;
        margin: 20px 35px;
      }
    }
    :global(.slick-prev) {
      left: 2%;
    }

    :global(.slick-next) {
      right: -3%;
    }
  }

  .text {
    @include flex-column;
    gap: 1rem;
    position: relative;
    height: 100%;
    overflow: hidden;
    text-align: start;
    text-indent: 1rem;

    :global(.MuiTypography-root) {
      line-height: normal;
    }

    p {
      text-align: center;
      text-indent: 0;
    }

    .gradient {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0), white);
    }

    .buttonOuterWrapper {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -20%);

      .buttonWrapper {
        transition: $transition;
        background: linear-gradient(
          180deg,
          rgba(255, 244, 186, 0.75) 0%,
          rgba(255, 197, 197, 0.75) 100%
        );

        button {
          padding: 6px 13px;
          white-space: nowrap;
          transform-origin: center;

          &:hover {
            background: linear-gradient(
              180deg,
              rgba(255, 244, 186, 0.75) 0%,
              rgba(255, 197, 197, 0.75) 100%
            );
          }
        }
      }
    }
  }
}

.imageContainer {
  position: relative;
  padding: 0;

  img {
    border-radius: 7px;
  }
}

.video {
  transition: $transition;
  &:hover {
    transform: scale(105%);
    svg {
      transform: scale(110%);
      fill: $color-yellow;
    }
  }

  .playButton {
    position: absolute;
    svg {
      width: 50px;
      height: 50px;
      transition: $transition;
    }
  }
}

.podcast {
  gap: 0;
  justify-content: space-between;

  .content {
    text-align: start !important;
  }
}

.reels {
  max-width: 384px;
  width: 100%;
  .imageContainer {
    width: 272px;
    height: 470px;
  }
}

@media (max-width: 1023px) {
  .reels,
  .music {
    max-width: 342px;
  }

  .playButton {
    svg {
      fill: $color-yellow;
    }
  }
}

@media (max-width: 767px) {
  $padding-card: 55px 19px 19px 19px;

  .article,
  .articleSmall,
  .reels,
  .music,
  .podcast {
    padding: $padding-card;
  }

  .podcast {
    gap: 28px;
    .content {
      @include flex-column;
      gap: 28px;
    }
  }

  .article,
  .articleSmall,
  .podcast {
    max-width: calc(100vw - 9px) !important;
  }

  .article,
  .articleSmall {
    :global(.slick-prev) {
      left: 5% !important;
    }

    :global(.slick-next) {
      right: 0 !important;
    }
  }
}
