.formats {
  display: flex;
  width: 100%;
  max-width: 1150px;
  justify-content: space-around;
  align-items: center;
  margin: 120px 0px;

  .formatWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    max-width: 100%;
    a {
      width: 100%;
    }
  }

  .formatCard {
    height: 250px;
    width: 100%;
    max-width: 450px !important;
    margin: 0 auto;
    p {
      white-space: pre;
      text-transform: uppercase;
      font-size: 19px;
    }

    &,
    p,
    img {
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      transform: scale(1.05);

      img {
        transform: scale(1.2);
      }

      p {
        letter-spacing: 0.1rem;
      }
    }
  }

  .bottomCard {
    font-weight: 700;
    max-width: 300px;
  }

  .line {
    height: 65px;
    width: 3px;
    background: $color-black;
  }
}

@media (max-width: 1050px) {
  .formats {
    gap: 40px;
  }
}

@media (max-width: 950px) {
  .formats {
    flex-direction: column;
    gap: 60px;
  }
}

@media (max-width: 500px) {
  .formats {
    margin: 42px 0;

    .formatCard {
      max-width: 100% !important;
    }
  }
}
