.wrapper {
  .arrow {
    transition: ease-out 0.125s;
    max-width: fit-content;
    height: fit-content;
    z-index: 2;
    transform-origin: center;

    svg {
      transition: ease-out 0.125s;
      display: flex;
      align-items: center;
      transform-origin: center;
    }

    &::before {
      color: black;
      content: "";
      width: fit-content;
    }

    @media (hover: hover) {
      &:hover {
        svg {
          fill: $color-yellow;
          transform: scale(120%);
        }
      }
    }
  }

  .right {
    transform: rotate(90deg);
  }

  .left {
    transform: rotate(-90deg);
  }

  .disableHover:hover {
    svg {
      fill: transparent;
      transform: scale(1) rotate(90deg);
    }
  }
}
