.wrapper {
  .arrow {
    transition: ease-out 0.125s;
    max-width: fit-content;
    height: fit-content;
    z-index: 2;
    transform-origin: center;

    svg {
      transition: ease-out 0.125s;
      display: flex;
      align-items: center;
      transform-origin: center;
    }

    &::before {
      color: black;
      content: "";
      width: fit-content;
    }

    &:hover {
      svg {
        fill: $color-yellow;
        transform: scale(120%) rotate(90deg);
        -webkit-transform: scale(120%) rotate(90deg);
      }
    }
  }

  .right {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    top: 50%;
    right: 60px;
  }

  .left {
    top: 50%;
    left: 60px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }

  .disableHover:hover {
    svg {
      fill: transparent;
      transform: scale(1) rotate(90deg);
      -webkit-transform: scale(1) rotate(90deg);
    }
  }
}
