.main {
  padding: 0 10px;
  padding-top: 40px;
}

.divider {
  padding: 14px 24px;
  max-width: 600px;
  p {
    text-wrap: nowrap;
    text-transform: none;
    font-size: 22px;
  }
}

.infoHeader {
  margin-top: 50px;
  margin-bottom: 30px;
}

.courseWrapper {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    font-size: 19px;
  }
  b {
    font-size: 21px;
  }
  .courseInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 85px 55px 60px;
    align-items: stretch;
    .card {
      padding: 16px;
    }
    p {
      white-space: pre-line;
    }
  }

  .line {
    background: $color-black;
    width: 2px;
    height: 80px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .totalSum {
    padding: 16px 24px;
  }
}

.qrCodes {
  margin: 60px 0px;
  display: flex;
  column-gap: 80px;
}

.requisites {
  margin-top: 55px;

  .card {
    background: transparent;
    padding: 15px;
  }
}

.thanks {
  margin: 90px 0;
  transition: all 0.3s ease-in-out;

  &:hover {
    scale: 1.05;

    .thanksBtn {
      scale: 1.1;
    }
  }
  .btnWrapper {
    position: relative;
    margin: 0 auto;
  }
  .arrow {
    content: "";
    position: absolute;
    background-image: url("/icons/arrowLong.svg");
    width: 65px;
    height: 55px;
    background-size: 65px;
    background-repeat: no-repeat;
    bottom: calc(100%);
    left: calc(100% + 25px);
    rotate: 350deg;
  }

  .thanksBtn {
    background: linear-gradient(180deg, #fffaf9 0%, #fffbd8 100%);
    white-space: pre-line;
    font-size: 24px;
    font-weight: 700;
    width: 180px;
    transition: all 0.3s ease-in-out;
    position: relative;
    padding: 14px;
    &:hover {
      background: linear-gradient(180deg, #fffaf9 0%, #fffbd8 100%);
    }
  }
}
.thanksHeader {
  max-width: 720px;
  margin-top: 55px;
  width: 100%;
  font-size: 22px;
}

.thanksBlock {
  margin-bottom: 90px;
  h1 {
    font-size: 46px;
  }
}

@media (max-width: 850px) {
  .courseWrapper {
    .courseInfo {
      display: grid;
      align-items: center;
      justify-content: center;
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 600px) {
  .qrCodes {
    flex-direction: column;
    row-gap: 50px;
  }
  .divider {
    padding: 14px;
    display: flex;
    p {
      display: contents;
      text-align: center;
      text-wrap: balance;
      font-size: 20px;
    }
  }

  .courseWrapper {
    .courseInfo {
      padding: 65px 10px 40px;
      .card {
        max-height: fit-content !important;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 400px) {
  .requisites {
    padding: 5px;
    .card {
      padding: 5px;
    }
  }

  .thanksHeader {
    line-height: 22px;
    font-size: 20px;
  }

  .thanks {
    width: 95%;
    margin: 50px auto;
    padding: 26px 10px;
    &:hover {
      scale: none;
      .thanksBtn {
        scale: none;
      }
    }

    .arrow {
      bottom: calc(100%);
      left: calc(100%);
      rotate: 335deg;
    }

    p {
      font-size: 16px;
    }
  }
}
