.main {
  padding: 70px 10px 0px;
}

.header {
  margin-top: 70px;
  text-align: center;
  h4 {
    font-size: 35px;
  }
  h6 {
    font-size: 24px;
    line-height: 24px;
    margin-top: 60px;
  }
}

.steps {
  margin: 90px 0px 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 115px;

  .step {
    h6 {
      font-size: 23px;
      line-height: 23px;
      white-space: pre-line;
    }

    width: 100%;
    height: 365px;
    padding: 25px 20px;
  }
}

.dividerFixed p {
  text-transform: none;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .selectType {
    position: relative;
    width: fit-content;
    min-width: 300px;
    text-wrap: nowrap;
    div {
      text-align: start !important;
    }
    & > div:first-child {
      background: linear-gradient(180deg, #fffaf9 0%, #fffbd8 100%);
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      background-image: url("/icons/arrowLong.svg");
      width: 65px;
      height: 55px;
      background-size: 73px;
      background-repeat: no-repeat;
    }

    &::after {
      bottom: calc(100%);
      left: calc(100% + 50px);
    }

    &::before {
      transform: scaleX(-1);
      bottom: calc(100%);
      right: calc(100% + 50px);
    }
  }

  .agreement {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      white-space: pre-line;
      font-weight: 500;
      line-height: 16px;
      margin-left: 10px;
    }
  }
}

.important {
  max-width: 790px;
  gap: 0;
  margin-top: 90px;
  padding: 30px;

  .list {
    padding: 0;
    text-align: start;
    span {
      line-height: 22px;
    }
  }

  .image {
    margin: 10px 0 20px;
  }
}

.continue {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;

  .line {
    position: absolute;
    height: 2px;
    background-color: black;
    width: 100%;
    box-shadow: $box-shadow;
  }

  .btn {
    background: #fff !important;
    font-size: 24px;
    padding: 10px 19px !important;

    img {
      width: 20px;
      height: 20px;
    }
    &:hover {
      background: $color-yellow !important;
    }
  }
}

@media (max-width: 1000px) {
  .certificate {
    margin-bottom: 0px;
  }
  .steps {
    padding-left: 20px;
  }
  .form {
    .selectType {
      display: flex;
      justify-content: center;
      margin-top: 70px;
      & > div {
        min-width: 300px;
      }

      &::after {
        bottom: calc(100% - 20px);
        left: calc(100% + 50px);
      }

      &::before {
        bottom: calc(100% - 20px);
        right: calc(100% + 50px);
      }
    }
  }
}

@media (max-width: 850px) {
  .header {
    h4,
    h1 {
      text-align: center;
    }
  }

  .steps {
    flex-direction: column;
    gap: 40px;
  }

  .contactForm {
    max-width: 90vw;
    max-height: auto;

    .inputs {
      justify-content: center;
      max-width: 80%;
    }

    .checkboxes {
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 0;
      width: 100%;
      margin-left: 20px;
    }
  }

  .form {
    width: 100%;
    .nameCertificate {
      max-width: 90vw;

      .personal {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }

      .selects {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }

      .shipment {
        display: flex;
        flex-direction: column;
      }
    }

    .comment {
      min-width: 300px;
      width: 90%;
    }

    .agreement {
      span {
        white-space: initial;
      }
    }
  }

  .important {
    max-width: 90vw;
    & p:first-child {
      text-wrap: pretty;
    }
    .image {
      width: 100%;
      height: auto;
    }
  }

  .continue {
    .line {
      width: 90vw;
    }
  }
}

@media (max-width: 660px) {
  .form {
    .selectType {
      &::after,
      &::before {
        display: none;
      }
    }
  }
}

@media (max-width: 450px) {
  .header {
    h4 {
      font-size: 21px;
      text-transform: uppercase;
    }
    h6 {
      font-size: 20px;
      margin-top: 21px;
    }
  }

  .steps {
    padding-left: 0;
    .step {
      & > div:first-child {
        left: 21px;
      }
      h6 {
        font-size: 20px;
      }
      p {
        font-size: 16px;
      }
      height: fit-content;
      max-height: fit-content !important;
      padding: 25px 10px;
    }
  }

  .important {
    padding: 26px 10px;

    .list {
      padding-left: 20px;
    }
    .p {
      font-size: 15px !important;
    }
  }

  .agreement span {
    margin-left: 0 !important;
  }
}
