.card {
  position: relative;
  padding: 45px 20px 35px;

  .name {
    text-transform: uppercase;
  }
  .nameJpn {
    font-family: var(--font-heisei);
  }

  .header {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: bottom left;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(110%) translate(-50%, -45%);
      box-shadow: 0px 0px 3px 0px #000 inset,
        0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
  }

  .labels {
    display: flex;
    justify-content: center;
    row-gap: 20px;
    column-gap: 15px;
    flex-direction: row;
    flex-wrap: wrap;

    .label {
      box-shadow: $box-shadow;
      border: $border;
      border-radius: $border-radius;
      padding: 6px 9px;
      line-height: 15px;
    }
  }

  .description {
    margin: 0;
    text-align: center;
    line-height: 22.3px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  .select {
    width: 300px;
  }

  .bottomBtn {
    cursor: pointer;
    position: absolute;
    max-width: 80%;
    width: fit-content;
    padding: 0 15px;
    height: 45px;
    bottom: -28px;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  .checkbox {
    :global(.MuiTypography-root) {
      font-size: 15px;
      font-weight: 700;
      text-align: start;
      margin-left: 10px;
    }
  }

  .divider {
    display: flex;
    align-items: center;
    justify-content: center;

    .line {
      height: 2px;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
      background: rgba(86, 86, 86, 1);
      width: 65px;
      border-radius: $border-radius;
    }
    .text {
      margin: 10px 0;
      text-transform: uppercase;
      padding: 0px 8px;
    }
  }

  .giftBtn {
    background: linear-gradient(rgba(255, 239, 153, 1), rgba(255, 171, 231, 1));

    &:hover {
      background: linear-gradient(
        rgba(255, 235, 125, 1),
        rgba(255, 141, 223, 1)
      );
    }
  }

  .startBtn {
    background: linear-gradient(rgba(224, 255, 216, 1), rgba(184, 255, 187, 1));
    white-space: nowrap;
    &:hover {
      background: linear-gradient(
        rgba(198, 255, 177, 1),
        rgba(158, 255, 174, 1)
      );
    }
  }

  .continueBtn {
    background: linear-gradient(rgba(205, 237, 255, 1), rgba(237, 200, 255, 1));

    &:hover {
      background: linear-gradient(
        rgba(178, 214, 255, 1),
        rgba(229, 176, 255, 1)
      );
    }
  }
}

.teacher {
  .megaHeader {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;

    .headerPlus {
      margin: 0 10px;
      font-size: 24px;
      font-weight: 700;
    }
    .headerWrapper {
      max-width: 150px;
      padding: 5px;
      gap: 0;
      cursor: pointer;
      transform-origin: center center;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(110%);
        box-shadow: 0px 0px 3px 0px #000 inset,
          0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      }

      p {
        margin: 0;
      }

      & > p:first-child {
        font-size: 15px;
        font-weight: 700;
      }
      & > p:last-child {
        font-size: 14px;
        font-weight: 400;
        font-family: var(--font-heisei);
      }
    }
  }

  .description {
    padding-inline-start: 20px;
    margin-right: -10px;
    text-align: start;
    margin: auto;
    li {
      p {
        -webkit-padding-start: 0px;
        padding-inline-start: 0px;
      }
    }
  }
}

.checkboxWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  max-width: 400px;
  a {
    text-decoration: underline;
  }
}
.checkbox {
  :global(.MuiTypography-root) {
    max-width: 300px;
  }
}

.video {
  width: 625px;

  .description {
    font-size: 20px;
    margin: 10px -10px auto;
    text-wrap: balance;
  }

  .imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: $border;
    border-radius: $border-radius;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    a {
      width: 100%;
      height: 100%;
    }

    .playBtn {
      position: absolute;
      fill: white;
      width: 50px;
      height: 50px;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      transform: scale(1.05);

      .playBtn {
        fill: $color-yellow;
        width: 72px;
        height: 72px;
      }
    }
  }
}

.audio {
  .description {
    font-size: 19px;
    margin: 10px -10px auto;
    text-wrap: balance;
  }

  .labels {
    margin-top: 10px 0 5px;
  }
  .podcast {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 90%;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.05);

      .triangleBtn {
        fill: $color-yellow;
      }
    }
  }

  .link {
    display: flex;
    align-items: center;
  }

  .triangleBtn {
    fill: white;
    transition: all 0.3s ease-in-out;
    width: 36px;
    height: 38px;
    transition: all 0.3s ease-in-out;

    :hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }
}

.book {
  max-width: 400px;

  .description {
    font-size: 18px;
    margin: auto -10px;
    text-wrap: balance;
  }

  .image {
    border: $border;
    border-radius: $border-radius;
    max-width: 100%;
    height: auto;
    cursor: pointer;
  }

  .labels {
    column-gap: 14px;
  }
}

@media (max-width: 600px) {
  .card {
    padding: 50px 12px;

    .bottomBtn {
      padding: 0 5px;
      p {
        font-size: 19px;
      }
    }
  }
  .name {
    text-wrap: pretty;
    width: 100%;
    line-height: 25px;
  }
  .nameLink {
    display: block;
    max-width: 100%;
  }
  .video,
  .audio {
    width: 400px;
    max-width: 90vw;
  }
}

@media (max-width: 500px) {
  .header {
    max-width: 90%;

    h5 {
      font-size: 21px;
      text-align: center;
    }
  }
  .video,
  .audio {
    width: 330px;
  }
}
