.itemImage {
  width: 147px;
  height: 147px;
}

.shopPartnerCard {
  padding-top: 52px;
  padding-bottom: 41px;
  width: 384px;

  gap: 25px;

  .nameCaptionWrapper {
    @include flex-column;
    width: 100%;
    gap: 22px;
  }

  .name {
    @include flex-row;
    width: 100%;
    gap: 23px;
    font-weight: 700;

    .logoImage {
      transition: 0.15s;
      border-radius: 50%;
      border: $border;
      box-shadow: $box-shadow;
      &:hover {
        transform: scale(115%);
      }
    }
  }

  .caption {
    width: 100%;
    ul {
      all: unset;
      list-style: none;
      text-align: start;
      font-weight: 700;
      li {
        white-space: pre;
      }
    }
  }

  .items {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;

    .itemImage {
      transition: 0.15s;
      width: 147px;
      height: 147px;

      &:hover {
        transform: scale(110%);
      }
    }
  }

  .hashtags {
    @include flex-row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;

    .hashtag {
      padding: 3px 4px;
      span {
        line-height: normal;
      }
    }
  }

  .labelBottom {
    padding: 2px 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    white-space: nowrap;

    span {
      line-height: normal;
    }
  }
}

@media (min-width: 768px) and (max-width: "1023px") {
  .shopPartnerCard {
    width: 100%;
    min-width: 740px;
    max-width: 740px !important;
    padding-right: 20px;
    padding-left: 20px;

    .nameCaptionWrapper {
      @include flex-row;

      .caption {
        @include border-box;
        padding: 20px 15px;
      }
    }
    .items {
      display: flex;
      width: 100%;
      gap: 6px;
      justify-content: space-between;
    }

    .hashtags {
      flex-wrap: nowrap;
      justify-content: space-between;
      max-width: 100%;
      overflow: scroll;
      padding: 0px 10px;
      padding-bottom: 8px;
      span {
        white-space: pre;
      }
    }
  }
}

@media (max-width: 767px) {
  .shopPartnerCard {
    padding-left: 12px;
    padding-right: 12px;
    width: 350px;
    .name {
      gap: 12px;
      justify-content: center;
      p {
        font-size: 18px;
      }
    }
    .items {
      .itemImage {
        width: 131px;
        height: 131px;
      }
    }
    .caption {
      width: max-content;
      max-width: 100%;
      ul {
        padding-left: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    .hashtags {
      justify-content: center;
      gap: 8px;
    }
  }
}
