@keyframes dialogShow {
  0% {
    transform: translate(0, -500px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes animateCarouselRight {
  0% {
  }
  33% {
    transform: translate(-30px, 0);
  }
  66% {
    transform: translate(10px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes animateCarouselLeft {
  0% {
  }
  33% {
    transform: translate(30px, 0);
  }
  66% {
    transform: translate(-10px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
