@keyframes buttonIconRotate {
  0% {
    scale: 0;
    transform: rotate(-90deg);
  }
  50% {
    scale: 1;
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes buttonIconRotateToInitial {
  0% {
  }
  100% {
    scale: 0;
    transform: rotate(-90deg);
  }
}
