$color-text: #0d0d0d;
// Yellow
$color-yellow: #fde543;
$color-yellow-dark: #f7e992;
// Gray
$color-gray: #3a3a3a;
$color-gray-46: #464646;
$color-gray-59: #595959;
$color-disabled: #555555;
// Black
$color-black: #0d0d0d;

//Gradient
$gradient-yellow-light: linear-gradient(180deg, #fff, #fffbd8 100%);
$gradient-rainbow: linear-gradient(
  91deg,
  #ff9c9c 0%,
  #ffef9c 28.13%,
  #9cdbff 71.35%,
  #ff9ce9 100%
);

$border-radius: 10px;
$border-radius-image: 7px;
$border: 2px solid #000;

$box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35);

$padding-page: 65px 22px;

$header-height: 70px;

@mixin border-box {
  box-shadow: $box-shadow;
  border: $border;
  border-radius: $border-radius;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

$gap-block-horizontal: 62px;
$gap-block-vertical: 112px;

%block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap-block-horizontal;
  text-align: center;
}
