@import "./normalize.scss";

* {
  -webkit-text-stroke: 0.2px;
  // scroll-behavior: smooth !important;
}

::selection {
  background: #ffff66;
}

a {
  color: #0d0d0d !important;
  text-decoration: none;
  &:visited {
    color: inherit !important;
  }
}

html {
  font-weight: 500;
  font-family: var(--font-comfortaa);
  scroll-behavior: smooth !important;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  * {
    scroll-margin-top: 100px;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1390px;
  margin: 0 auto;
}

main {
  max-width: 1390px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 100px;
}

.Toastify__toast-container {
  width: fit-content !important;
  max-width: 655px;
}

.Toastify__toast {
  white-space: pre-line;
  color: #fff;
  text-align: center;
  font-family: var(--font-comfortaa) !important;
  font-size: 22px;
  font-weight: 500;
  padding: 0;
}

.Toastify__close-button {
  display: none;
}

.MuiAutocomplete-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  white-space: pre-line;

  &:hover {
    background: $color-yellow !important;
  }
}

.MuiAutocomplete-root,
.MuiInputBase-root {
  &:hover input,
  input {
    background: inherit !important;
    &:hover,
    &:focus {
      background: inherit !important;
    }
  }
}

.MuiAutocomplete-root:hover {
  background: linear-gradient(180deg, #fff 0%, #ffe600 100%);
}

.MuiAutocomplete-popper {
  border: 2px solid black;
  border-radius: $border-radius;
  overflow: hidden;

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: $color-yellow;
    height: 10%;
    min-height: 20px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $color-yellow;
  }
}

.MuiBackdrop-root {
  background-color: rgba(0, 0, 0, 0.7);
}

.spinner_5nOS {
  width: 50% !important;
  height: 50% !important;
  margin: auto;
}

.slick-slider {
  transition: z-index 0;
}

.smoothScroll {
  scroll-behavior: smooth;
}

body:has(div.MuiDialog-root) {
  width: 100vw;

  header .wrapper {
    margin-right: 17px;
  }
}

@media (max-width: 1200px) {
  .Toastify__toast-container {
    z-index: 999 !important;
  }
}

@media (max-width: 500px) {
  .Toastify__toast-container {
    width: 100vw !important;
  }
}
