@import "./normalize.scss";

@font-face {
  font-family: "Comfortaa";
  src: url("./fonts/Comfortaa-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Comfortaa";
  src: url("./fonts/Comfortaa-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Comfortaa";
  src: url("./fonts/Comfortaa-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Comfortaa";
  src: url("./fonts/Comfortaa-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Comfortaa";
  src: url("./fonts/Comfortaa-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Comfortaa";
  src: url("./fonts/Comfortaa-Bold.ttf");
  font-weight: 700;
}

a {
  color: $color-text;
  text-decoration: none;
}

html {
  font-weight: 500;
}

body {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  width: 100%;
  max-width: 1390px;
  margin: 0 auto;
  font-family: Comfortaa;
  min-height: 100vh;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Toastify__toast-container {
  width: auto;
  max-width: 600px;
}

.Toastify__toast {
  white-space: pre-line;
  color: #fff;
  text-align: center;
  font-family: Comfortaa !important;
  font-size: 22px;
  font-weight: 700;
}

.Toastify__close-button {
  display: none;
}

.MuiAutocomplete-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  white-space: pre-line;
  &:not(:first-child) {
    border-top: 1px solid #555;
  }
}

.MuiAutocomplete-root,
.MuiInputBase-root {
  &:hover input,
  input {
    background: inherit !important;
    &:hover,
    &:focus {
      background: inherit !important;
    }
  }
}

.MuiAutocomplete-root:hover {
  background: linear-gradient(180deg, #fff 0%, #ffe600 100%);
}

.MuiAutocomplete-popper {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    height: 10%;
    min-height: 20px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
