@import "./normalize.scss";

a {
  color: $color-text;
}

html {
  font-weight: 500;
}

body {
  padding-top: 70px;
  width: 100%;
  max-width: 1390px;
  margin: 0 auto;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
