.main {
  @include flex-column;
  padding: $padding-page;
  gap: 110px;

  .contactsBlock {
    @include flex-column;
    gap: 30px;

    .cards {
      display: flex;
      gap: 112px;
      margin-top: 44px;

      .card {
        width: 376px;
        a {
          text-decoration: underline;
        }
      }

      .socials {
        display: flex;
        gap: 15px;
      }
    }
  }
  .faqBlock {
    @include flex-column;
    width: 100%;
    gap: 45px;
  }
}

@media (max-width: 1400px) {
  .main {
    .contactsBlock {
      .cards {
        flex-wrap: wrap;
        justify-content: space-evenly;
        column-gap: 20px;
        row-gap: 50px;

        .card:nth-child(2) {
          order: 3;
        }
        .card:nth-child(1),
        .card:nth-child(3) {
          width: 324px;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .main {
    padding: 65px 12px;
  }
}

@media (max-width: 600px) {
  .main {
    gap: 40px;
    .contactsBlock {
      .cards {
        flex-wrap: wrap;
        justify-content: space-evenly;
        column-gap: 20px;
        row-gap: 50px;

        .card {
          width: 100%;
          max-width: 100%;
          padding: 26px 14px;
        }
        .card:nth-child(3) {
          display: none;
        }
        .socials {
          gap: 10px;
        }
      }
    }

    .formBlock {
      padding: 20px;
      h4 {
        font-size: 24px;
      }
      h6 {
        font-size: 17px;
      }
    }

    .faqDivider,
    .faqBlock {
      display: none;
    }
  }
}
