.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 8px 0px;
  overflow-x: hidden;
}

.divider {
  padding: 5px 15px !important;
}

.dividerTwo {
  padding: 7px 15px 2px !important;
}

.header {
  text-transform: uppercase;
  text-align: center;
  margin: 70px 0 42px;
}

.questions {
  @include flex-column;
  width: 100%;
  gap: 45px;
  margin: 0px auto 125px;
}