.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 8px;
}

.header {
  text-transform: uppercase;
  text-align: center;
  margin: 70px 0 60px;
}

.questions {
  @include flex-column;
  width: 100%;
  gap: 45px;
  margin: 100px auto;
}