.storeMain {
  @include flex-column;
  padding: $padding-page;
  padding-bottom: 121px;
  gap: 120px;
  position: relative !important;
  overflow: hidden;

  .cartButton {
    position: fixed;
  }

  .divider {
    height: 35px;
    padding: 5px 15px;
    span {
      line-height: normal;
    }
  }

  .dividerWrapperPartners {
    margin: -33px 0 0;
  }

  .dividerWrapperProducts {
    margin: -17px 0 0;
  }

  .introBlock {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 76px;
    align-items: center;
    justify-items: center;
    margin-top: -55px;
    width: 100%;
    .image {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 4;
    }
  }

  .dealBlock {
    @include flex-column;
    gap: 56px;
    .titleCard {
      padding: 16px;

      &::before {
        @include border-box;
        content: "";
        position: absolute;
        width: calc(100% + 300px);
        height: 150px;
        border-bottom: 0;
        box-shadow: none;
        top: 50%;
        z-index: -1;
      }
    }

    .cardsWrapper {
      @include flex-row;
      gap: min(104px, 5vw);

      .card {
        align-self: stretch;
        gap: 0;
        justify-content: space-between;
        justify-content: flex-start;

        img {
          margin: 20px 0px;
        }

        p {
          width: 413px;
        }
      }
    }
  }

  .shopProductsBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    gap: 100px;
  }

  .message {
    width: 100%;
    margin: 0;

    .messageCard {
      gap: 8px;
    }
  }
}

@media (max-width: "1420px") {
  .storeMain {
    .shopProductsBlock {
      display: block;
      max-width: 100%;
      margin-top: -65px;
    }
  }
}

@media (max-width: "1150px") {
  .storeMain {
    .introBlock {
      grid-template-columns: repeat(2, 1fr);
      gap: 75px;
      .image {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
      }
    }

    .dealBlock {
      .cardsWrapper {
        .card {
          p {
            width: auto;
          }
        }
      }
    }
  }
}

@media (max-width: "1023px") {
  .storeMain {
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: $padding-page-tablet-bottom;
    gap: 100px;

    h3 {
      font-size: 32px;
    }

    .dealBlock {
      .card {
        h5 {
          font-size: 22px;
        }
        p {
          font-size: 15px;
        }
      }

      .card:nth-child(1) {
        p {
          margin: 0 -13px;
        }
      }
    }
  }
}

@media (max-width: "767px") {
  .storeMain {
    max-width: 100vw;
    padding-right: 9px;
    padding-left: 9px;
    padding-bottom: $padding-page-mobile-bottom;

    overflow: hidden;
    gap: 80px;

    h3 {
      font-size: 30px;
    }

    .introBlock {
      display: flex;
      flex-direction: column-reverse;
      max-width: 100%;
      gap: 45px;
      // margin-top: -55px;
    }

    .dealBlock {
      gap: 40px;

      .titleCard {
        position: relative;
        h5 {
          font-size: 22px;
        }

        &::before {
          all: unset;
        }

        &::after {
          content: "";
          height: 40px;
          @include border-box;
          border-width: 1px;
          position: absolute;
          bottom: -42px;
        }
      }

      .cardsWrapper {
        flex-direction: column;
        gap: 40px;

        .card:nth-child(1) {
          &::after {
            content: "";
            height: 40px;
            @include border-box;
            border-width: 1px;
            position: absolute;
            bottom: -42px;
          }
        }
      }
    }

    .message {
      > div {
        padding: 26px 15px;
      }
      p {
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 390px) {
  .cardsWrapper br {
    display: none;
  }
}
