.linkCardsBlock {
  @include flex-column;
  justify-content: space-between;
  gap: 62px;
  width: 100%;

  .artIcon {
    margin: auto 0;
    height: 100%;
    max-height: 90px;
    width: auto;
  }
}

.header {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.linkCards {
  display: flex;
  justify-content: center;
  gap: 100px;
  width: 100%;
}

.carousel {
  width: 1238px;

  .contentCard {
    > * {
      margin: 0 auto;
    }
  }
}

.btnWrapper {
  background: linear-gradient(
    180deg,
    rgba(255, 237, 232, 0.1) 0%,
    #fffbd8 100%
  ) !important;

  max-width: 200px !important;
  width: 100% !important;

  .button {
    padding: 9px 14px !important;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .linkCards {
  }
  .header {
    font-size: 29px;
  }
}

@media (max-width: 767px) {
  .linkCards {
    flex-direction: column;
    align-items: center;
    padding: 0 12px;
    gap: 50px;
  }
  .header {
    font-size: 27px;
  }
}
