.carousel {
  width: 100%;

  :global(.slick-prev) {
    top: calc(100% - 10px);
  }

  :global(.slick-next) {
    top: calc(100% - 10px);
  }

  :global(.slick-prev),
  :global(.slick-next) {
    z-index: -1 !important;
    position: absolute;
  }

  .numbers {
    transform: translate(0, -14px);
    position: relative;
    z-index: -1;
  }

  :global(.slick-track) {
    align-items: flex-start;
  }

  :global(.slick-list) {
    min-height: fit-content;
    overflow: visible;
  }

  :global(.slick-slider) {
    overflow: visible;
  }
}
