.carousel {
  width: 100%;

  :global(.slick-prev) {
    top: calc(100% + 4px) !important;
  }

  :global(.slick-next) {
    top: calc(100% + 4px) !important;
  }

  :global(.slick-track) {
    align-items: flex-start;
  }

  :global(.slick-list) {
    min-height: fit-content;
    overflow: visible;
  }

  :global(.slick-slider) {
    overflow: visible;
  }
}
