.shopProductCardLargeMain {
  padding: 38px 30px 30px 30px;
  height: 818px;
  gap: 2px;
  background: linear-gradient(
    180deg,
    rgba(255, 237, 232, 0.1) 0%,
    #fffbd8 100%
  );
  justify-content: space-between;
  scroll-margin-top: 100px;

  .beforeCaptionBlockWrapper,
  .afterCaptionBlockWrapper {
    @include flex-column;
    gap: 21px;
    max-width: 100%;
    width: 100%;
  }

  .beforeCaptionBlockWrapper {
    gap: 8px;
  }

  .carousel {
    margin-bottom: -12px;
    display: flex;
    align-items: flex-start;

    .carouselItem {
      width: 215px;
      height: 215px;
      background-color: white;
      object-position: top;
    }

    :global(.slick-slide) {
      > div {
        overflow: display;
        margin: 20px 34px;
      }
    }

    :global(.slick-prev) {
      left: -9px;
    }

    :global(.slick-next) {
      right: -12px;
    }

    :global(.slick-prev),
    :global(.slick-next) {
      z-index: 3 !important;
    }
  }

  .priceBlock {
    min-height: 52px;
    justify-content: flex-end;
    .price {
      @include flex-row;
      gap: 8px;
      > * {
        line-height: normal;
      }
    }
    .date {
      padding: 2px 6px;
      background: $gradient-rainbow;
    }
  }

  .captionBlock {
    text-align: start;
    text-indent: 2rem;
    align-items: flex-start;
    span {
      line-height: normal;
    }
  }

  .hashtagsBlock {
    @include flex-row;
    justify-content: space-between;
    width: 100%;

    .tag {
      padding: 3px 6px;
      gap: 0;
      white-space: pre;
      line-height: 10px;
      background: #fff2c9;
    }
  }

  .buttonWrapper {
    @include flex-row;
    width: 100%;
    justify-content: center;
    position: relative;

    .button {
      padding-right: 27px;
      padding-left: 27px;
      height: 56px;
      img {
        top: -11px;
      }
    }

    .soonOnMarket {
      padding: 12px;
      height: 56px;
      span {
        line-height: normal;
      }
    }
    .likes {
      @include flex-column;
      cursor: pointer;
      position: absolute;
      top: 55%;
      right: 0px;
      transform: translate(0, -50%);

      .heartIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.12s;
        &:hover {
          transform: scale(120%);
          svg {
            path:first-child {
              fill: $color-yellow;
            }
            path:nth-child(2) {
              fill: black;
            }
          }
        }
      }

      .liked {
        transform: scale(120%) !important;
        svg {
          path:first-child {
            fill: $color-yellow !important;
          }
          path:nth-child(2) {
            fill: black !important;
          }
        }
      }
    }
  }

  .labelBottom {
    position: absolute;
    padding: 2px 6px;
    background: linear-gradient(180deg, #fff 0%, #fffbd9 100%);
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    white-space: nowrap;
  }
}

@media (max-width: "1420px") {
  .shopProductCardLargeMain {
    .carousel {
      :global(.slick-prev) {
        left: 0;
        top: 150px;
      }

      :global(.slick-next) {
        left: unset;
        top: 135px;
        right: -20px;
      }

      :global(.slick-slider) {
        overflow: hidden;
      }
    }
  }
}

@media (max-width: 666px) {
  .shopProductCardLargeMain {
    width: 342px;
    height: 1050px;
    padding-left: 15px;
    padding-right: 15px;
    gap: 10px;

    .carousel {
      :global(.slick-prev) {
        left: 18px;
      }

      :global(.slick-next) {
        right: 0;
      }
    }

    .captionBlock {
      margin: auto;
    }

    .hashtagsBlock {
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 16px;
    }

    .labelBottom {
      span {
        font-size: 14px;
      }
    }
  }
  .certificate {
    .captionBlock {
      margin: 10px 0;
      padding-right: 10px;
      display: flex;
      max-height: 385px;
      flex-direction: column;
      justify-content: flex-start;
      overflow-y: scroll;

      span {
        text-align: justify;
        font-size: 15px;
      }
    }
  }
}
