.reelsBlock {
  min-width: 100%;

  .btnWrapper {
    background: linear-gradient(
      180deg,
      rgba(255, 237, 232, 0.1) 0%,
      #fffbd8 100%
    );
    max-width: 200px;
    width: 100%;

    button {
      width: 100%;
    }
  }

  .carouselItem {
    min-width: 243px;
    img {
      border-radius: 7px !important;
    }
  }

  h3 {
    width: 90vw;
  }

  p {
    max-width: 965px;
  }
}

@media (max-width: 1023px) {
  .reelsBlock {
    width: 1238px !important;

    h3 {
      font-size: 32px;
    }

    p {
      font-size: 18px;
      max-width: 679px;
    }
  }
}

@media (max-width: 767px) {
  .reelsBlock {
    border: unset;
    box-shadow: unset;
    width: 100% !important;

    h3 {
      font-size: 25px;
    }

    p {
      font-size: 16px;
    }

    :global(.slick-slide) {
      > div {
        margin: 20px !important;
      }
    }
  }
}
